<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 4.01 Transitional//EN\">
<html>
<head>
<title>.</title>
<link href="{{ absoluteThemePath }}/combinedview.css" rel="stylesheet" type="text/css" />
</head>
<body>
{% if articles %}
{% for article in articles %}
  <hr>
  <p><div class="article">
  {% if article.strippedTitle %}
  <div class="headertitle" dir="{{ applicationDir }}"><a href="{{ article.articleLinkUrl }}">{{ article.strippedTitle|safe }}</a></div>
  {% endif %}

  {%if article.articlePubDate %}
  <span class="header" dir="{{ applicationDir }}">{{ dateI18n }}:</span><span class="headertext">{{ article.articlePubDate }}</span>
  {% endif %}

  {% if article.author %}
  <br/><span class="header" dir="{{ applicationDir }}">{{ authorI18n }}:</span><span class="headertext">{{ article.author|safe }}</span>
  {% endif %}

  <div class="actiontable">
    <div class="actionrowtable">
      {% with article.articleStatus as result %}
          {% ifequal article.Unread result %}
          <div class="theactioncell">{{ article.markAsReadAction|safe }}</div>
          {% endifequal %}
          {% ifequal article.Read result %}
          <div class="theactioncell">{{ article.markAsUnreadAction|safe }}</div>
          {% endifequal %}
      {% endwith %}
      <div class="theactioncell">{{ article.markAsImportantAction|safe }}</div>
      <div class="theactioncell">{{ article.openInExternalBrowser|safe }}</div>
      <div class="theactioncell">{{ article.openInBackgroundTab|safe }}</div>
      <div class="theactioncell">{{ article.sendFileAction|safe }}</div>
      <div class="theactioncell">{{ article.sendUrlAction|safe }}</div>
      <div class="theactioncell theactionbigcell">{{ article.deleteAction|safe }}</div>
    <div>
  </div>

  {% if article.enclosure %}
  <br/><span class="header" dir="{{ applicationDir }}">{{ enclosureI18n }}:</span><span class="headertext">{{ article.enclosure|safe }}</span>
  {% endif %}
  </div>

  {% if article.imageFeed %}
  {{ article.imageFeed }}
  {% endif %}
  <hr>

  {% if article.content %}
  <div dir="{{ applicationDir }}"><span class="content">{{ article.content|safe }}</span>
  {% endif %}

  {% if article.commentNumber %}
  <div class="body"><a class="contentlink" href="{{ article.commentLink }}">{{ commentI18n }} ({{ article.commentNumber }})</a>
  {% endif %}

  {% if article.enclosure %}
  <p><em>{{ enclosureI18n }}</em> {{ article.enclosure }}</p>
  {% endif %}

  {% if article.articleCompleteStoryLink %}
  <p><a class="contentlink" href="{{ article.articleCompleteStoryLink }}">{{ completeStoryI18n }}</a></p>
  {% endif %}
  </div>
  </div><p>
{% endfor %}
{% endif %}

</body>
