[Desktop Entry]
Icon=akregator
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=akregator/preferences.html#general-lookup

X-KDE-Library=akregator_config_onlinesync
X-KDE-ParentApp=akregator
X-KDE-ParentComponents=akregator,kontact_akregator
X-KDE-CfgDlgHierarchy=Akregator
X-KDE-Keywords=akregator, configure, settings, online readers

Name=Online Readers
Name[ca]=Lectors en línia
Name[da]=Onlinelæsere
Name[de]=Online-Leser
Name[el]=Αναγνώστης διαδικτύου
Name[et]=Võrgulugejad
Name[fr]=Lecteurs en ligne
Name[ga]=Léitheoirí Ar Líne
Name[it]=Lettore di fonti in linea
Name[ja]=オンラインリーダー
Name[km]=កម្មវិធី​អាន​លើ​បណ្ដាញ
Name[lv]=Tiešsasites lasītāji
Name[nds]=Internetkiekers
Name[nl]=Online lezers
Name[pl]=Czytniki RSS online
Name[pt]=Leitores 'Online'
Name[pt_BR]=Leitores on-line
Name[sv]=Kanalläsare
Name[tr]=Çevrimiçi Okuyucular
Name[uk]=Програми для читання розсилок
Name[x-test]=xxOnline Readersxx
Name[zh_CN]=在线阅读器
Name[zh_TW]=線上閱讀器
Comment=Configure Online Readers
Comment[ca]=Configura els lectors en línia
Comment[da]=Indstil onlinelæsere
Comment[de]=Online-Leser einrichten
Comment[el]=Ρύθμιση αναγνωστών διαδικτύου
Comment[et]=Võrgulugejate seadistamine
Comment[fr]=Configurer les lecteurs en ligne
Comment[ga]=Cumraigh Léitheoirí Ar Líne
Comment[it]=Configura lettori di fonti in linea
Comment[ja]=オンラインリーダーの設定
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​កម្មវិធី​អាន​លើ​បណ្ដាញ
Comment[lv]=Konfigurēt tiešsasites lasītājus
Comment[nds]=Internetkiekers instellen
Comment[nl]=Online lezers instellen
Comment[pl]=Konfiguracja czytników RSS online
Comment[pt]=Configurar os Leitores 'Online'
Comment[pt_BR]=Configurar os leitores on-line
Comment[sv]=Anpassa kanalläsare
Comment[tr]=Çevrimiçi Okuyucuları Yapılandır
Comment[uk]=Налаштування мережевих розсилок
Comment[x-test]=xxConfigure Online Readersxx
Comment[zh_CN]=配置在线阅读器
Comment[zh_TW]=設定線上閱讀器
