[Desktop Entry]
Type=Service
Name=Akregator Online Feed Reader Support
Name[ar]=دعم قارئ التلقيمات الذي على الخط
Name[ca]=Implementació de lectors de fonts en línia per a l'Akregator
Name[ca@valencia]=Implementació de lectors de fonts en línia per a l'Akregator
Name[cs]=Podpora pro online čtečky kanálů
Name[da]=Akregator-understøttelse af online feed-læser
Name[de]=Akregator-Unterstützung für Online-Leser
Name[el]=Υποστήριξη απομακρυσμένου αναγνώστη ροών
Name[en_GB]=Akregator Online Feed Reader Support
Name[es]=Apoyo para el lector de fuentes en línea de Akregator
Name[et]=Akregatori uudistevoogude võrgulugejate toetus
Name[fi]=Akregatorin Online-syötelukijatuki
Name[fr]=Prise en charge des lecteurs en ligne pour Akregator
Name[ga]=Tacaíocht Akregator do Léitheoirí Fothaí Ar Líne
Name[gl]=Funcionalidade de lector de fontes en liña do Akregator
Name[hu]=Akregator-támogatás online hírolvasókhoz
Name[ia]=Supporto de lector de Syndication In Linea de Akregator
Name[it]=Supporto di Akregator per i lettori di fonti in linea
Name[ja]=Akregator のオンラインフィードリーダーのサポート
Name[kk]=Akregator онлайн ақпар оқу құралын қолдауы
Name[km]=គាំទ្រ​កម្មវិធី​អាន​មតិព័ត៌មាន​លើ​បណ្ដាញ​របស់ Akregator
Name[ko]=Akregator 온라인 리더 지원
Name[lt]=Akregator žiniatinklio kanalų skaitytuvės palaikymas
Name[lv]=Akregator tiešsastes barotņu lasītāju atbalsts
Name[nb]=Akregator-støtte for tilkoblede lesere
Name[nds]=Internetkieker-Ünnerstütten för Akregator
Name[nl]=Akregator Online feedlezer ondersteuning
Name[nn]=Akregator-støtte for tilkopla lesarar
Name[pa]=ਅਕਰੀਗੇਟਰ ਆਨਲਾਈਨ ਫੀਡ ਰੀਡਰ ਸਹਿਯੋਗ
Name[pl]=Wsparcie dla czytnika kanałów RSS Akregator
Name[pt]=Suporte de Leitura de Fontes de Notícias do Akregator
Name[pt_BR]=Suporte para leitor de notícias on-line do Akregator
Name[ru]=Настройка онлайновых дайджестов
Name[sk]=Podpora pre online čítačky kanálov
Name[sl]=Akregatorjeva podpora za spletne bralnike
Name[sv]=Stöd för Akregator kanalläsare
Name[tr]=Akregator Çevrimiçi Kaynak Okuyucu Desteği
Name[uk]=Підтримка читання мережевих розсилок у Akregator
Name[x-test]=xxAkregator Online Feed Reader Supportxx
Name[zh_CN]=Akregator 在线信息源阅读器支持
Name[zh_TW]=Akregator 線上閱讀器支援
Comment=Plugin for Akregator
Comment[af]=Inprop module vir Akregator
Comment[ar]=ملحق لاكريغاتور
Comment[be]=Утулка для Akregator
Comment[bg]=Приставка за Akregator
Comment[br]=Lugent evit Akregator
Comment[ca]=Connector per a l'Akregator
Comment[ca@valencia]=Connector per a l'Akregator
Comment[cs]=Modul pro Akregator
Comment[da]=Plugin for Akregator
Comment[de]=Modul für Akregator
Comment[el]=Πρόσθετο για το Akregator
Comment[en_GB]=Plugin for Akregator
Comment[eo]=Kromprogramo por Akregator
Comment[es]=Complemento para Akregator
Comment[et]=Akregatori plugin
Comment[eu]=Akregator-en plugina
Comment[fa]=وصله برای Akregator
Comment[fi]=Liitännäinen Akregatoriin
Comment[fr]=Module pour Akregator
Comment[fy]=Plugin foar Akregator
Comment[ga]=Breiseán Akregator
Comment[gl]=Engadido para o Akregator
Comment[he]=תוסף עבור Akregator
Comment[hu]=Akregator bővítőmodul
Comment[ia]=Plugin pro Akregator
Comment[is]=Íforrit fyrir Akregator
Comment[it]=Estensione per Akregator
Comment[ja]=Akregator 用プラグイン
Comment[ka]=Akregator-ის მოდული
Comment[kk]=Akregator-дың плагині
Comment[km]=កម្មវិធី​ជំនួយ Akregator
Comment[ko]=Akregator 플러그인
Comment[lt]=Akregator skirtas įskiepis
Comment[lv]=Akregator spraudnis
Comment[mk]=Приклучок за Akregator
Comment[ms]=Plugin untuk Akregator
Comment[nb]=Programtillegg for Akregator
Comment[nds]=Moduul för Akregator
Comment[ne]=एक्रिगेटरका लागि प्लगइन
Comment[nl]=Plugin voor Akregator
Comment[nn]=Programtillegg til Akregator
Comment[pa]=ਅਕਰੀਗੇਟਰ ਲਈ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka dla Akregatora
Comment[pt]='Plugin' para o Akregator
Comment[pt_BR]=Plug-in para o Akregator
Comment[ro]=Modul pentru Akregator
Comment[ru]=Модуль для Akregator
Comment[sk]=Modul pre Akregator
Comment[sl]=Vstavek za Akregator
Comment[sv]=Insticksprogram för Akregator
Comment[tr]=Akregator için Eklenti
Comment[uk]=Додаток до Akregator
Comment[uz]=Akregator uchun plagin
Comment[uz@cyrillic]=Akregator учун плагин
Comment[x-test]=xxPlugin for Akregatorxx
Comment[zh_CN]=Akregator 插件
Comment[zh_TW]=Akregator 外掛程式

X-KDE-Library=akregator_onlinesync_plugin
X-KDE-ServiceTypes=Akregator/Plugin
X-KDE-InterfaceVersion=4
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-akregator-plugintype=extension
X-KDE-akregator-name=onlinesync
X-KDE-akregator-rank=255
X-KDE-akregator-version=1
X-KDE-akregator-framework-version=4
