[Desktop Entry]
Type=Service
Name=Akregator Online Feed Reader Support
Comment=Plugin for Akregator
Comment[de]=Modul für Akregator

X-KDE-Library=akregator_onlinesync_plugin
X-KDE-ServiceTypes=Akregator/Plugin
X-KDE-InterfaceVersion=2
X-KDE-PluginInfo-EnabledByDefault=true

X-KDE-akregator-plugintype=sync
X-KDE-akregator-name=sync
X-KDE-akregator-authors=Frank Osterfeld
X-KDE-akregator-email=osterfeld@kde.org
X-KDE-akregator-rank=255
X-KDE-akregator-version=1
X-KDE-akregator-framework-version=2
