Source: akregator
Section: web
Priority: optional
Maintainer: Pierre Habouzit <pierre.habouzit@m4x.org>
Build-Depends: cdbs, debhelper (>= 4.0.0)
Standards-Version: 3.6.1

Package: akregator
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: a KDE RSS Aggregator
 aKregator is KDE RSS aggregator with great look and feel.

