Source: akregator
Section: net
Priority: optional
Maintainer: Pierre Habouzit <pierre.habouzit@m4x.org>
Build-Depends: cdbs, debhelper (>= 4.1.0), kdepim-dev (>= 3.2.0), kdelibs4-dev (>> 4:3.2.0), libkonq4-dev (>> 4:3.2.0), libkcal2-dev | kdepim-dev (<< 3.3.0)
Standards-Version: 3.6.1

Package: akregator
Architecture: any
Depends: ${shlibs:Depends}
Description: RSS feed aggregator for KDE
 aKregator is a fast, lightweight, and intuitive feed reader program for KDE.
 It allows you to quickly browse through hundreds of thousands of internet feeds
 in a quick, efficient, and familiar way.

Package: akregator-kontact-plugin
Architecture: any
Depends: akregator (= ${Source-Version}), ${shlibs:Depends}
Description: kontact plugin for aKregator
 aKregator is a fast, lightweight, and intuitive feed reader program for KDE.
 It allows you to quickly browse through hundreds of thousands of internet feeds
 in a quick, efficient, and familiar way.
 .
 The kontact plugin allow you to embed aKregator kpart into Kontact

Package: akregator-konq-plugin
Architecture: any
Depends: akregator (= ${Source-Version}), ${shlibs:Depends}
Description: konqueror plugin for aKregator
 aKregator is a fast, lightweight, and intuitive feed reader program for KDE.
 It allows you to quickly browse through hundreds of thousands of internet feeds
 in a quick, efficient, and familiar way.
 .
 The konqueror plugin integrates in the konqueror context menu the possibility
 to directly add new feeds in akregator

