#!/usr/bin/make -f
# -*- makefile -*-

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/kde.mk

DEB_INSTALL_DOCS_ALL :=
DEB_INSTALL_DOCS_akregator := AUTHORS README NEWS
DEB_INSTALL_CHANGELOGS_akregator := ChangeLog

DEB_INSTALL_MANPAGES_akregator := debian/akregator.1

DEB_DH_INSTALL_ARGS := --fail-missing

install/akregator::
	dh_install -pakregator debian/overrides/akregator usr/share/lintian/overrides/

install/akregator-konq-plugin::
	dh_link

install/akregator-kontact-plugin::
	dh_link

clean::
	rm -f debian/compat
