#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/kde.mk

DEB_INSTALL_DOCS_ALL :=
DEB_INSTALL_DOCS_akregator := AUTHORS README NEWS
DEB_INSTALL_CHANGELOGS_ALL := ChangeLog

DEB_INSTALL_MANPAGES_akregator := debian/akregator.1

pre-build::
	ln -sf `pwd`/$(DEB_BUILDDIR) $(DEB_BUILDDIR)/akregator
