[Desktop Entry]
Type=Service
Name=Metakit storage backend
Name[af]=Metakit stoor agterkant
Name[bg]=Приставка за архивиране Metakit
Name[ca]=Dorsal d'emmagatzematge Metakit
Name[cs]=Metakit úložiště
Name[da]=Metakit lagringsgrænseflade
Name[de]=Metakit Archiv-Modul
Name[el]=Σύστημα υποστήριξης αποθήκευσης Metakit
Name[eo]=Metakit datumstora maŝino
Name[es]=Motor de almacenamiento Metakit
Name[et]=Metakiti salvestamisrakendus
Name[eu]=Metakit-en biltegiratze euskarria
Name[fa]=پشتیبان ذخیره‌گاه Metakit
Name[fi]=Metakit-tallennusajuri
Name[fr]=Stockage avec Metakit
Name[fy]=Metakit-opslachefterein
Name[ga]=Inneall stórála Metakit
Name[gl]=Manexador do almacenador Metakit
Name[hu]=Metakit tároló
Name[is]=Metakit geymslu bakendi
Name[it]=Backend archiviazione metakit
Name[ja]=メタキットストレージバックエンド
Name[ka]=Metakit  მეხსიერების ბუფერი
Name[kk]=Metakit архивтеу бағдарламасы
Name[ko]=Metakit 저장소 백엔드
Name[lt]=Metakit saugojimo programinė sąsaja
Name[ms]=Hujung belakang storan Metakit 
Name[nb]=Metakit lagringsbakstykke
Name[nds]=Metakit-Archivmoduul
Name[ne]=मेटाकिट भण्डारण ब्याकइन्ड
Name[nl]=Metakit-opslagbackend
Name[pl]=System przechowywania Metakit
Name[pt]=Infra-estrutura de armazenamento Metakit
Name[pt_BR]=Mecanismo de armazenamento Metakit
Name[ru]=Движок Metakit
Name[sl]=Shranjevanje Metakit
Name[sr]=Систем за смештање Мета комплета
Name[sr@latin]=Sistem za smeštanje Meta kompleta
Name[sv]=Metakit lagringsgränssnitt
Name[uk]=Програма зберігання Metakit
Name[x-test]=xxMetakit storage backendxx
Name[zh_CN]=Metakit 存储后端
Name[zh_TW]=Metakit 儲存後端介面
X-KDE-Library=akregator_mk4storage_plugin
Comment=Plugin for Akregator
Comment[af]=Inprop module vir Akregator
Comment[be]=Утулка для Akregator
Comment[bg]=Приставка за Akregator
Comment[br]=Lugent evit Akregator
Comment[ca]=Connector per a l'Akregator
Comment[cs]=Modul pro Akregator
Comment[de]=Modul für Akregator
Comment[el]=Πρόσθετο για το Akregator
Comment[eo]=Kromprogramo por Akregator
Comment[es]=Complemento para Akregator
Comment[et]=Akregatori plugin
Comment[eu]=Akregator-en plugina
Comment[fa]=وصله برای Akregator
Comment[fi]=Liitännäinen Akregatoriin
Comment[fr]=Module pour Akregator
Comment[fy]=Plugin foar Akregator
Comment[ga]=Breiseán Akregator
Comment[gl]=Extensión para Akregator
Comment[he]=תוסף עבור Akregator
Comment[hu]=Akregator bővítőmodul
Comment[is]=Íforrit fyrir Akregator
Comment[it]=Plugin per Akregator
Comment[ja]=Akregator 用プラグイン
Comment[ka]=Akregator-ის მოდული
Comment[kk]=Akregator-дың плагин модулі
Comment[ko]=Akregator 플러그인
Comment[lt]=Akregator skirtas priedas
Comment[mk]=Приклучок за Akregator
Comment[ms]=Plugin untuk Akregator
Comment[nb]=Programtillegg for Akregator
Comment[nds]=Moduul för Akregator
Comment[ne]=एक्रिगेटरका लागि प्लगइन
Comment[nl]=Plugin voor Akregator
Comment[pl]=Wtyczka dla Akregatora
Comment[pt]='Plugin' para o Akregator
Comment[pt_BR]=Plugin para o Akregator
Comment[ru]=Модуль для Akregator
Comment[sk]=Modul pre Akregator
Comment[sl]=Vstavek za Akregator
Comment[sr]=Прикључак за Akregator
Comment[sr@latin]=Priključak za Akregator
Comment[sv]=Insticksprogram för Akregator
Comment[tr]=Akregator Eklentisi
Comment[uk]=Втулок для Akregator
Comment[uz]=Akregator учун плагин
Comment[x-test]=xxPlugin for Akregatorxx
Comment[zh_CN]=Akregator 插件
Comment[zh_TW]=Akregator 外掛程式
X-KDE-ServiceTypes=Akregator/Plugin

X-KDE-akregator-plugintype=storage
X-KDE-akregator-name=metakit
X-KDE-akregator-authors=Frank Osterfeld
X-KDE-akregator-email=frank.osterfeld@kdemail.net
X-KDE-akregator-rank=255
X-KDE-akregator-version=1
X-KDE-akregator-framework-version=1

