{% extends "main.html" %}

{% block style %}
.links {
    margin: auto;
}

.links td {
    padding-top: 5px;
    padding-bottom: 5px;
}

{% endblock style %}

{% block box %}

<div class="center">
    <h2>{% i18n "Akregator version %1" _(version) %}</h2>
    <p>{% i18n "Akregator is a KDE news feed reader." %}</p>
</div>

<table class="links">
    {% for link in links %}
    <tr>
        <td>
            <a href="{{ link.url }}">{% icon link.icon desktop %}</a>
        <td>
        <td>
            <a href="{{ link.url }}">{{ link.title }}</a><br/>
            <small>{{ link.subtext }}</small>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock box %}
