[Desktop Entry]
Type=Service
Name=Akregator Online Article Share
Name[en_GB]=Akregator Online Article Share
Name[es]=Compartición de artículos de Akregator en línea
Name[et]=Akregatori artiklite jagamine
Name[gl]=Compartir artigos en liña do Akregator
Name[ia]=Compartir Articulo in linea de Akregator
Name[ja]=Akregator のオンライン記事シェア
Name[nb]=Akregator-deling av artikler på nett
Name[nl]=Plaats voor delen van Akregator online artikelen
Name[pt]=Partilha de Artigos 'Online' do Akregator
Name[pt_BR]=Compartilhamento de artigos on-line do Akregator
Name[sv]=Stöd för Akregator artikeldelning på nätet
Name[uk]=Інтернет-служба оприлюднення статей Akregator
Name[x-test]=xxAkregator Online Article Sharexx
Name[zh_TW]=Akregator 線上文章分享
Comment=Plugin for Akregator
Comment[af]=Inprop module vir Akregator
Comment[ar]=ملحق لاكريغاتور
Comment[be]=Утулка для Akregator
Comment[bg]=Приставка за Akregator
Comment[br]=Lugent evit Akregator
Comment[ca]=Connector per a l'Akregator
Comment[ca@valencia]=Connector per a l'Akregator
Comment[cs]=Modul pro Akregator
Comment[da]=Plugin for Akregator
Comment[de]=Modul für Akregator
Comment[el]=Πρόσθετο για το Akregator
Comment[en_GB]=Plugin for Akregator
Comment[eo]=Kromprogramo por Akregator
Comment[es]=Complemento para Akregator
Comment[et]=Akregatori plugin
Comment[eu]=Akregator-en plugina
Comment[fa]=وصله برای Akregator
Comment[fi]=Liitännäinen Akregatoriin
Comment[fr]=Module pour Akregator
Comment[fy]=Plugin foar Akregator
Comment[ga]=Breiseán Akregator
Comment[gl]=Engadido para o Akregator
Comment[he]=תוסף עבור Akregator
Comment[hu]=Akregator bővítőmodul
Comment[ia]=Plugin pro Akregator
Comment[is]=Íforrit fyrir Akregator
Comment[it]=Estensione per Akregator
Comment[ja]=Akregator 用プラグイン
Comment[ka]=Akregator-ის მოდული
Comment[kk]=Akregator-дың плагині
Comment[km]=កម្មវិធី​ជំនួយ Akregator
Comment[ko]=Akregator 플러그인
Comment[lt]=Akregator skirtas įskiepis
Comment[lv]=Akregator spraudnis
Comment[mk]=Приклучок за Akregator
Comment[ms]=Plugin untuk Akregator
Comment[nb]=Programtillegg for Akregator
Comment[nds]=Moduul för Akregator
Comment[ne]=एक्रिगेटरका लागि प्लगइन
Comment[nl]=Plugin voor Akregator
Comment[nn]=Programtillegg til Akregator
Comment[pa]=ਅਕਰੀਗੇਟਰ ਲਈ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka dla Akregatora
Comment[pt]='Plugin' para o Akregator
Comment[pt_BR]=Plug-in para o Akregator
Comment[ro]=Modul pentru Akregator
Comment[ru]=Модуль для Akregator
Comment[sk]=Modul pre Akregator
Comment[sl]=Vstavek za Akregator
Comment[sv]=Insticksprogram för Akregator
Comment[tr]=Akregator için Eklenti
Comment[uk]=Додаток до Akregator
Comment[uz]=Akregator uchun plagin
Comment[uz@cyrillic]=Akregator учун плагин
Comment[x-test]=xxPlugin for Akregatorxx
Comment[zh_CN]=Akregator 插件
Comment[zh_TW]=Akregator 外掛程式

X-KDE-Library=akregator_sharemicroblog_plugin
X-KDE-ServiceTypes=Akregator/Plugin
X-KDE-InterfaceVersion=4
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-akregator-plugintype=extension
X-KDE-akregator-name=sharemicroblog
X-KDE-akregator-rank=255
X-KDE-akregator-version=1
X-KDE-akregator-framework-version=4
X-KDE-akregator-authors=Artur de Souza
