[Desktop Entry]
Icon=akregator
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=akregator/preferences.html#general-lookup

X-KDE-Library=akregator_config_sharemicroblog
X-KDE-ParentApp=akregator
X-KDE-ParentComponents=akregator,kontact_akregatorplugin
X-KDE-CfgDlgHierarchy=Akregator
X-KDE-Keywords=akregator, configure, settings, online readers
X-KDE-Weight=150

Name=Share Services
Name[en_GB]=Share Services
Name[gl]=Compartir servizos
Name[pt]=Serviços de Partilha
Name[pt_BR]=Serviços de compartilhamento
Name[sv]=Delningstjänster
Name[uk]=Служби оприлюднення
Name[x-test]=xxShare Servicesxx
Name[zh_TW]=分享服務
Comment=Configure Share Services
Comment[en_GB]=Configure Share Services
Comment[gl]=Configurar os servizos compartidos
Comment[pt]=Configurar os Serviços de Partilha
Comment[pt_BR]=Configurar os serviços de compartilhamento
Comment[sv]=Anpassa delningstjänster
Comment[uk]=Налаштування служб оприлюднення
Comment[x-test]=xxConfigure Share Servicesxx
Comment[zh_TW]=設定分享服務
