[Desktop Entry]
Icon=utilities-file-archiver
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=akregator/preferences.html#general-lookup

X-KDE-Library=akregator_config_advanced
X-KDE-ParentApp=akregator
X-KDE-ParentComponents=akregator,kontact_akregator
X-KDE-CfgDlgHierarchy=Akregator

Name=Advanced
Name[de]=Erweitert
Comment=Advanced Feed Reader Settings
Comment[de]=Erweiterte Einstellungen für den Nachrichtenbetrachter
X-KDE-Keywords=akregator, configure, settings, advanced
