[Desktop Entry]
Icon=utilities-file-archiver
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=akregator/preferences.html#general-lookup

X-KDE-Library=akregator_config_archive
X-KDE-ParentApp=akregator
X-KDE-ParentComponents=akregator,kontact_akregator
X-KDE-CfgDlgHierarchy=Akregator

Name=Archive
Name[ca]=Arxiu
Name[ga]=Cartlann
Name[ja]=アーカイブ
Name[km]=ប័ណ្ណសារ
Name[nds]=Archiev
Name[pt]=Arquivo
Name[pt_BR]=Arquivo
Name[zh_TW]=歸檔
Comment=Configure Feed Archive
Comment[ca]=Configura l'arxiu de fonts
Comment[ga]=Cumraigh Cartlann na bhFothaí
Comment[ja]=フィードのアーカイブを設定
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​ប័ណ្ណសារ​មតិព័ត៌មាន
Comment[nds]=Stroomarchiev instellen
Comment[pt]=Configurar o Arquivo de Fontes
Comment[pt_BR]=Configurar o Arquivo de Fontes de Notícias
Comment[zh_TW]=設定 Feed 歸檔
X-KDE-Keywords=akregator, configure, settings, archive
