[Desktop Entry]
Icon=akregator
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=akregator/preferences.html#general-lookup

X-KDE-Library=akregator_config_general
X-KDE-ParentApp=akregator
X-KDE-ParentComponents=akregator,kontact_akregatorplugin
X-KDE-CfgDlgHierarchy=Akregator
X-KDE-Weight=100

Name=General
Name[af]=Algemeen
Name[ar]=عام
Name[be]=Агульныя
Name[bg]=Общи
Name[br]=Pennañ
Name[ca]=General
Name[cs]=Obecné
Name[cy]=Cyffredinol
Name[da]=Generelt
Name[de]=Allgemein
Name[el]=Γενικά
Name[en_GB]=General
Name[eo]=Ĝenerala
Name[es]=General
Name[et]=Üldine
Name[eu]=Orokorra
Name[fa]=عمومی
Name[fi]=Yleinen
Name[fr]=Général
Name[fy]=Algemien
Name[ga]=Ginearálta
Name[gl]=Xeral
Name[he]=כללי
Name[hu]=Általános
Name[is]=Almennt
Name[it]=Generale
Name[ja]=全般
Name[ka]=ზოგადი
Name[kk]=Жалпы
Name[km]=ទូទៅ
Name[ko]=일반
Name[lt]=Bendras
Name[lv]=Pamata
Name[mk]=Општо
Name[ms]=Umum
Name[nb]=SGenerelt
Name[nds]=Allgemeen
Name[ne]=साधारण
Name[nl]=Algemeen
Name[nn]=Generelt
Name[oc]=General
Name[pa]=ਸਧਾਰਨ
Name[pl]=Ogólne
Name[pt]=Geral
Name[pt_BR]=Geral
Name[ro]=General
Name[ru]=Главное
Name[se]=Oppalaš
Name[sk]=Všeobecné
Name[sl]=Splošno
Name[sv]=Allmänt
Name[ta]=பொதுவான
Name[th]=ค่าทั่วไป
Name[tr]=Genel
Name[uk]=Загальні
Name[uz]=Umumiy
Name[uz@cyrillic]=Умумий
Name[x-test]=xxGeneralxx
Name[zh_CN]=常规
Name[zh_TW]=General
Comment=Configure Feeds
Comment[ar]=اضبط التلقيمات
Comment[ca]=Configura les fonts
Comment[cs]=Nastavit kanály
Comment[da]=Indstil feeds
Comment[de]=Einrichtung der Nachrichtenquellen
Comment[el]=Ρύθμιση ροών ειδήσεων
Comment[en_GB]=Configure Feeds
Comment[es]=Configurar fuentes
Comment[et]=Uudistevoogude seadistamine
Comment[fr]=Configurer les flux
Comment[ga]=Cumraigh Fothaí
Comment[gl]=Configurar as fontes de novas
Comment[hu]=A hírcsatornák beállítása
Comment[it]=Configura fonti
Comment[ja]=フィードの全般設定
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​មតិព័ត៌មាន
Comment[ko]=피드 설정
Comment[lt]=Konfigūruoti kanalus
Comment[lv]=Konfigurēt barotnes
Comment[nb]=Sett opp kilder
Comment[nds]=Strööm instellen
Comment[nl]=Feeds instellen
Comment[nn]=Set opp kjelder
Comment[pa]=ਫੀਡ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja kanałów RSS
Comment[pt]=Configurar as Fontes
Comment[pt_BR]=Configurar as fontes de notícias
Comment[ro]=Configurează fluxuri
Comment[ru]=Настройка лент
Comment[sl]=Nastavi vire
Comment[sv]=Anpassa kanaler
Comment[th]=ปรับแต่งแหล่งป้อน
Comment[tr]=Kaynakları Yapılandır
Comment[uk]=Налаштування розсилок
Comment[x-test]=xxConfigure Feedsxx
Comment[zh_CN]=配置信息源
Comment[zh_TW]=設定 Feed
X-KDE-Keywords=akregator, configure, settings, General
