[Desktop Entry]
Icon=preferences-plugin
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=pim/kcms/akregator/akregator_config_plugins

X-KDE-ParentComponents=akregator,kontact_akregatorplugin
X-KDE-CfgDlgHierarchy=Akregator
X-KDE-Weight=600

Name=Plugins
Name[af]=Inprop modules
Name[ar]=الملحقات
Name[az]=Qoşmalar
Name[bg]=Приставки
Name[br]=Lugantoù
Name[bs]=Dodaci
Name[ca]=Connectors
Name[ca@valencia]=Connectors
Name[cs]=Moduly
Name[cy]=Ategion
Name[da]=Plugin
Name[de]=Module
Name[el]=Πρόσθετα
Name[en_GB]=Plugins
Name[eo]=Kromaĵoj
Name[es]=Complementos
Name[et]=Pluginad
Name[eu]=Plugin-ak
Name[fa]=وصله‌ها
Name[fi]=Liitännäiset
Name[fr]=Modules externes
Name[fy]=Plugins
Name[ga]=Breiseáin
Name[gl]=Complementos
Name[he]=תוספים
Name[hu]=Bővítőmodulok
Name[ia]=Plug-ins
Name[is]=Íforrit
Name[it]=Estensioni
Name[ja]=プラグイン
Name[ka]=მოდულები
Name[kk]=Плагин модульдері
Name[km]=កម្មវិធី​ជំនួយ
Name[ko]=플러그인
Name[lt]=Papildiniai
Name[lv]=Spraudņi
Name[mai]=प्लगिन
Name[mk]=Приклучоци
Name[mr]=प्लगइन्स
Name[ms]=Plugin
Name[nb]=Programtillegg
Name[nds]=Modulen
Name[ne]=प्लगइन
Name[nl]=Plug-ins
Name[nn]=Programtillegg
Name[pa]=ਪਲੱਗਇਨਾਂ
Name[pl]=Wtyczki
Name[pt]='Plugins'
Name[pt_BR]=Plugins
Name[ro]=Extensii
Name[ru]=Модули
Name[se]=Lassemoduvllat
Name[sk]=Moduly
Name[sl]=Vstavki
Name[sr]=Прикључци
Name[sr@ijekavian]=Прикључци
Name[sr@ijekavianlatin]=Priključci
Name[sr@latin]=Priključci
Name[sv]=Insticksprogram
Name[ta]=சொருகுப்பொருள்கள்
Name[th]=โปรแกรมเสริม
Name[tr]=Eklentiler
Name[ug]=قىستۇرما
Name[uk]=Додатки
Name[uz]=Plaginlar
Name[uz@cyrillic]=Плагинлар
Name[wa]=Tchôkes-divins
Name[x-test]=xxPluginsxx
Name[zh_CN]=插件
Name[zh_TW]=外掛程式
Comment=Configure Plugins
Comment[ar]=اضبط الملحقات
Comment[az]=Qoşmaların tənzimləməsi
Comment[ca]=Configura els connectors
Comment[ca@valencia]=Configura els connectors
Comment[cs]=Nastavit zásuvné moduly
Comment[da]=Indstil plugins
Comment[de]=Module einrichten
Comment[el]=Διαμόρφωση προσθέτων
Comment[en_GB]=Configure Plugins
Comment[es]=Configurar complementos
Comment[et]=Pluginate seadistamine
Comment[eu]=Konfiguratu pluginak
Comment[fi]=Liitännäisten asetukset
Comment[fr]=Configurer les modules externes
Comment[gl]=Configurar os complementos
Comment[hu]=Bővítmének beállítása
Comment[ia]=Configura Plug-ins
Comment[it]=Configura estensioni
Comment[ko]=플러그인 설정
Comment[lt]=Konfigūruoti papildinius
Comment[nb]=Sett opp programtillegg
Comment[nl]=Plugins instellen
Comment[nn]=Set opp programtillegg
Comment[pl]=Ustawienia wtyczek
Comment[pt]=Configurar os 'Plugins'
Comment[pt_BR]=Configurar plugins
Comment[ru]=Настроить подключаемые модули
Comment[sk]=Nastaviť pluginy
Comment[sl]=Nastavi vstavke
Comment[sr]=Подешавање прикључака
Comment[sr@ijekavian]=Подешавање прикључака
Comment[sr@ijekavianlatin]=Podešavanje priključaka
Comment[sr@latin]=Podešavanje priključaka
Comment[sv]=Anpassa insticksprogram
Comment[tr]=Eklentileri Yapılandır
Comment[uk]=Налаштовування додатків
Comment[x-test]=xxConfigure Pluginsxx
Comment[zh_CN]=配置插件
Comment[zh_TW]=設定附加元件
X-KDE-Keywords=akregator, configure, settings, webEngine, plugins
X-KDE-Keywords[ar]=akregator, configure, settings, webEngine, plugins, أكريغاتور, ضبط, إعدادات, محرك, وب, ملحقات
X-KDE-Keywords[az]=akregator, configure, settings, webEngine, plugins,VebMühərriki,qoşmalar,ayarlar
X-KDE-Keywords[ca]=akregator, configura, arranjament, motor web, connectors
X-KDE-Keywords[ca@valencia]=akregator, configura, arranjament, motor web, connectors
X-KDE-Keywords[cs]=akregator, nastavit, nastavení, webEngine, moduly
X-KDE-Keywords[da]=akregator, indstil, indstillinger, WebEngine, plugins
X-KDE-Keywords[de]=Akregator,einstellen,konfigurieren,Konfiguration,Einrichtung,Einstellungen,webEngine,Module
X-KDE-Keywords[el]=akregator, διαμόρφωση, ρυθμίσεις, μηχανή ιστού, πρόσθετα
X-KDE-Keywords[en_GB]=akregator, configure, settings, webEngine, plugins
X-KDE-Keywords[es]=akregator, configurar, preferencias, motor-web, complementos
X-KDE-Keywords[et]=akregator, seadistamine, seadistused, veebimootor, pluginad
X-KDE-Keywords[eu]=akregator, konfiguratu, ezarpenak, web-motorra, pluginak
X-KDE-Keywords[fi]=akregator, asetukset, webEngine, liitännäiset
X-KDE-Keywords[fr]=Akregator, configurer, paramétrage, webEngine, modules externes
X-KDE-Keywords[gl]=akregator, configurar, configuración, motor web, complementos
X-KDE-Keywords[hu]=akregator, beállítás, beállítások, webEngine, bővítmények
X-KDE-Keywords[ia]=akregator, configure, settings, webEngine, plugins
X-KDE-Keywords[it]=akregator, configurazione, impostazioni, webEngine, estensioni
X-KDE-Keywords[ko]=akregator, configure, settings, online readers, 설정, 온라인 리더, webEngine, plugins
X-KDE-Keywords[lt]=akregator, konfigūruoti, nuostatos, interneto variklis, papildiniai
X-KDE-Keywords[nl]=akregator, instellen, instellingen, webEngine, plug-ins
X-KDE-Keywords[nn]=akregator, kjelder, oppsett, set opp, innstillingar, lesarar, tilkopla-lesarar, nyheitskjelder, programtillegg, vevmotor
X-KDE-Keywords[pl]=akregator, konfiguruj, ustawienia, webEngine, wtyczki
X-KDE-Keywords[pt]=akregator, configurar, configuração, motor Web, 'plugins'
X-KDE-Keywords[pt_BR]=akregator, configurar, configurações, mecanismo Web, plugins
X-KDE-Keywords[ru]=akregator, configure, settings, webEngine, plugins, настроить, настройки, модули
X-KDE-Keywords[sk]=akregator, nastaviť, nastavenia, webEngine, pluginy
X-KDE-Keywords[sl]=akregator, nastavi, nastavitve, spletni pogon, vstavki
X-KDE-Keywords[sr]=akregator,configure,settings,webEngine,plugins,Акрегатор,подешавање,поставке,веб мотор,прикључци
X-KDE-Keywords[sr@ijekavian]=akregator,configure,settings,webEngine,plugins,Акрегатор,подешавање,поставке,веб мотор,прикључци
X-KDE-Keywords[sr@ijekavianlatin]=akregator,configure,settings,webEngine,plugins,Akregator,podešavanje,postavke,veb motor,priključci
X-KDE-Keywords[sr@latin]=akregator,configure,settings,webEngine,plugins,Akregator,podešavanje,postavke,veb motor,priključci
X-KDE-Keywords[sv]=akregator, anpassa, inställningar, webbgränssnitt, insticksprogram
X-KDE-Keywords[tr]=akregator, yapılandır, ayarlar, webmotoru, eklentiler
X-KDE-Keywords[uk]=akregator,configure,settings,webEngine,url interceptor,налаштувати,налаштування,параметри,вебрушій,додатки,плаґіни
X-KDE-Keywords[x-test]=xxakregatorxx,xx configurexx,xx settingsxx,xx webEnginexx,xx pluginsxx
X-KDE-Keywords[zh_CN]=akregator, configure, settings, webEngine, plugins, 配置, 设置, 网页引擎, 插件
X-KDE-Keywords[zh_TW]=akregator, configure, settings, webEngine, plugins
