[Desktop Entry]
Icon=utilities-file-archiver
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=akregator/index.html#archive-tab

X-KDE-Library=akregator_config_archive
X-KDE-ParentApp=akregator
X-KDE-ParentComponents=akregator,kontact_akregatorplugin
X-KDE-CfgDlgHierarchy=Akregator
X-KDE-Weight=200

Name=Archive
Name[ar]=الأرشيف
Name[bs]=Arhiva
Name[ca]=Arxiu
Name[ca@valencia]=Arxiu
Name[cs]=Archiv
Name[da]=Arkiv
Name[de]=Archiv
Name[el]=Αρχειοθήκη
Name[en_GB]=Archive
Name[es]=Archivo comprimido
Name[et]=Arhiveerimine
Name[fi]=Arkisto
Name[fr]=Archive
Name[ga]=Cartlann
Name[gl]=Arquivo
Name[hr]=Arhiva
Name[hu]=Archívum
Name[ia]=Archivo
Name[it]=Archivia
Name[ja]=アーカイブ
Name[kk]=Архиві
Name[km]=ប័ណ្ណសារ
Name[ko]=저장소
Name[lt]=Archyvas
Name[lv]=Arhīvs
Name[mai]=अभिलेख
Name[nb]=Arkiv
Name[nds]=Archiev
Name[nl]=Archief
Name[nn]=Arkiv
Name[oc]=Actiu
Name[pa]=ਅਕਾਇਵ
Name[pl]=Archiwum
Name[pt]=Arquivo
Name[pt_BR]=Arquivo
Name[ro]=Arhivă
Name[ru]=Архив
Name[sk]=Archív
Name[sl]=Arhiv
Name[sq]=Arkivi
Name[sr]=Архива
Name[sr@ijekavian]=Архива
Name[sr@ijekavianlatin]=Arhiva
Name[sr@latin]=Arhiva
Name[sv]=Arkiv
Name[tr]=Arşiv
Name[ug]=ئارخىپلاش
Name[uk]=Архів
Name[x-test]=xxArchivexx
Name[zh_CN]=存档
Name[zh_TW]=歸檔
Comment=Configure Feed Archive
Comment[ar]=اضبط أرشيف التلقيمات
Comment[bs]=Podešavanje arhive dovoda
Comment[ca]=Configura l'arxiu de fonts
Comment[ca@valencia]=Configura l'arxiu de fonts
Comment[cs]=Nastavit archiv novinek
Comment[da]=Indstil feed-arkiv
Comment[de]=Einrichtung des Nachrichten-Archivs
Comment[el]=Ρύθμιση αρχειοθήκης ροών
Comment[en_GB]=Configure Feed Archive
Comment[es]=Configurar el archivo comprimido de fuentes
Comment[et]=Uudistevoogude arhiveerimise seadistamine
Comment[fi]=Syötearkiston asetukset
Comment[fr]=Configurer les archives des flux
Comment[ga]=Cumraigh Cartlann na bhFothaí
Comment[gl]=Configurar o arquivo de fontes de novas
Comment[hu]=A hírolvasó-archívum beállításai
Comment[ia]=Configura archivo de syndication
Comment[it]=Configura l'archiviazione delle fonti
Comment[ja]=フィードのアーカイブ設定
Comment[kk]=RSS ақпарлар архивін баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​ប័ណ្ណសារ​មតិព័ត៌មាន
Comment[ko]=피드 저장소 설정
Comment[lt]=Konfigūruoti kanalų archyvą
Comment[lv]=Konfigurēt barotņu arhīvu
Comment[nb]=Oppsett for kildearkiv
Comment[nds]=Stroomarchiev instellen
Comment[nl]=Feedarchief instellen
Comment[nn]=Set opp kjeldearkiv
Comment[pa]=ਫੀਡ ਅਕਾਇਵ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja archiwum kanałów
Comment[pt]=Configurar o Arquivo de Fontes
Comment[pt_BR]=Configurar o arquivo de fontes de notícias
Comment[ro]=Configurează arhiva de fluxuri
Comment[ru]=Настройка архива
Comment[sk]=Nastavenie archívu kanálov
Comment[sl]=Nastavite arhiv vira
Comment[sr]=Подешавање архиве довода
Comment[sr@ijekavian]=Подешавање архиве довода
Comment[sr@ijekavianlatin]=Podešavanje arhive dovoda
Comment[sr@latin]=Podešavanje arhive dovoda
Comment[sv]=Anpassa kanalarkivet
Comment[tr]=Haber Arşivini Yapılandır
Comment[uk]=Налаштування архіву подач
Comment[x-test]=xxConfigure Feed Archivexx
Comment[zh_CN]=配置信息源存档
Comment[zh_TW]=設定 Feed 歸檔
X-KDE-Keywords=akregator, configure, settings, archive
X-KDE-Keywords[ca]=akregator, configura, arranjament, arxiu
X-KDE-Keywords[da]=akregator, indstil, indstillinger, arkiv
X-KDE-Keywords[de]=Akregator,einstellen,konfigurieren,Konfiguration,Einrichtung,Einstellungen,Archiv
X-KDE-Keywords[es]=akregator, configurar, preferencias, archivo
X-KDE-Keywords[et]=akregator, seadistamine, seadistused, arhiiv
X-KDE-Keywords[fi]=akregator, asetukset, arkisto
X-KDE-Keywords[fr]=akregator, configurer, paramétrage, archivage
X-KDE-Keywords[ga]=akregator, cumraigh, socruithe, cartlann
X-KDE-Keywords[gl]=akregator, configurar, configuración, opcións, arquivar
X-KDE-Keywords[hu]=akregator, beállítás, beállítások, archív
X-KDE-Keywords[ia]=akregator, configura, preferentia, archivo
X-KDE-Keywords[it]=akregator, configurazione, impostazioni, archivio
X-KDE-Keywords[kk]=akregator, configure, settings, archive
X-KDE-Keywords[km]=akregator កំណត់​រចនាសម្ព័ន្ធ កំណត់ ​ប័ណ្ណសារ
X-KDE-Keywords[nb]=akregator, sett opp, innstillinger, arkiv
X-KDE-Keywords[nds]=Akregator, fastleggen, Instellen, Archiev
X-KDE-Keywords[nl]=akregator, instellen, instellingen, archief
X-KDE-Keywords[pl]=akregator, konfiguruj, ustawienia, archiwum
X-KDE-Keywords[pt]=akregator, configurar, configuração, arquivo
X-KDE-Keywords[pt_BR]=akregator,configurar,configurações,arquivar
X-KDE-Keywords[sr]=akregator,configure,settings,archive,Акрегатор,подешавање,поставке,архива
X-KDE-Keywords[sr@ijekavian]=akregator,configure,settings,archive,Акрегатор,подешавање,поставке,архива
X-KDE-Keywords[sr@ijekavianlatin]=akregator,configure,settings,archive,Akregator,podešavanje,postavke,arhiva
X-KDE-Keywords[sr@latin]=akregator,configure,settings,archive,Akregator,podešavanje,postavke,arhiva
X-KDE-Keywords[sv]=akregator, anpassa, inställningar, arkiv
X-KDE-Keywords[uk]=akregator,configure,settings,archive,налаштувати,налаштування,параметри,архів
X-KDE-Keywords[x-test]=xxakregator, configure, settings, archivexx
X-KDE-Keywords[zh_TW]=akregator, configure, settings, archive
