[Desktop Entry]
Icon=video-display
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=akregator/preferences.html#general-lookup

X-KDE-Library=akregator_config_appearance
X-KDE-ParentApp=akregator
X-KDE-ParentComponents=akregator,kontact_akregatorplugin
X-KDE-CfgDlgHierarchy=Akregator
X-KDE-Weight=300

Name=Appearance
Name[af]=Appearance
Name[ar]=المظهر
Name[be]=Вонкавы выгляд
Name[bg]=Външен вид
Name[br]=Neuziadur
Name[bs]=Izgled
Name[ca]=Aparença
Name[ca@valencia]=Aparença
Name[cs]=Vzhled
Name[cy]=Golwg
Name[da]=Udseende
Name[de]=Erscheinungsbild
Name[el]=Εμφάνιση
Name[en_GB]=Appearance
Name[eo]=Prezentado
Name[es]=Apariencia
Name[et]=Välimus
Name[eu]=Itxura
Name[fa]=ظاهر
Name[fi]=Ulkoasu
Name[fr]=Apparence
Name[fy]=Uterlik
Name[ga]=Cuma
Name[gl]=Aparencia
Name[he]=מראה
Name[hr]=Izgled
Name[hu]=Megjelenés
Name[ia]=Apparentia
Name[is]=Útlit
Name[it]=Aspetto
Name[ja]=外観
Name[ka]=იერსახე
Name[kk]=Сыртқы көрінісі
Name[km]=រូបរាង
Name[ko]=모양
Name[lt]=Išvaizda
Name[lv]=Izskats
Name[mai]=प्रकटन
Name[mk]=Изглед
Name[ms]=Rupa
Name[nb]=Utseende
Name[nds]=Utsehn
Name[ne]=देखावट
Name[nl]=Uiterlijk
Name[nn]=Utsjånad
Name[oc]=Aparéncia
Name[pa]=ਦਿੱਖ
Name[pl]=Wygląd
Name[pt]=Aparência
Name[pt_BR]=Aparência
Name[ro]=Aspect
Name[ru]=Внешний вид
Name[se]=Fárda
Name[sk]=Vzhľad
Name[sl]=Videz
Name[sq]=Paraqitja
Name[sr]=Изглед
Name[sr@ijekavian]=Изглед
Name[sr@ijekavianlatin]=Izgled
Name[sr@latin]=Izgled
Name[sv]=Utseende
Name[ta]=தோற்றம்
Name[tg]=Намуди зоҳирӣ
Name[th]=รูปลักษณ์
Name[tr]=Görünüm
Name[ug]=قىياپەت
Name[uk]=Вигляд
Name[uz]=Koʻrinishi
Name[uz@cyrillic]=Кўриниши
Name[x-test]=xxAppearancexx
Name[zh_CN]=外观
Name[zh_TW]=外觀
Comment=Configure the Feed Reader Appearance
Comment[ar]=اضبط مظهر قارئ التلقيمات
Comment[bs]=Podesavanje izgleda čitača dovoda
Comment[ca]=Configura l'aparença del lector de fonts
Comment[ca@valencia]=Configura l'aparença del lector de fonts
Comment[cs]=Nastavit vzhled čtečky novinek
Comment[da]=Indstil udseendet af feed-læser
Comment[de]=Erscheinungsbild des Nachrichtenbetrachters einrichten
Comment[el]=Ρύθμιση της εμφάνισης του αναγνώστη ροών
Comment[en_GB]=Configure the Feed Reader Appearance
Comment[es]=Configurar la apariencia del lector de fuentes
Comment[et]=Uudistevoogude lugeja välimuse seadistamine
Comment[fi]=Syötelukijan ulkoasuasetukset
Comment[fr]=Configurer l'apparence du lecteur de flux
Comment[gl]=Configurar a aparencia do lector de novas
Comment[hu]=Beállítások a hírolvasó megjelenéséhez
Comment[ia]=Configura le apparentia de lector de syndication
Comment[it]=Configura l'aspetto del lettore di fonti
Comment[ja]=フィードリーダーの外観設定
Comment[kk]=RSS ақпарларын оқудың сыртқы көрінісі
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​រូបរាង​របស់​កម្មវិធី​អាន​​មតិព័ត៌មាន
Comment[ko]=피드 리더 모양 설정
Comment[lt]=Konfigūruoti kanalų skaitytuvo išvaizdą
Comment[lv]=Konfigurēt barotņu lasītāja izskatu
Comment[nb]=Sett opp utseende til kildeleseren
Comment[nds]=Dat Utsehn vun den Stroomkieker instellen
Comment[nl]=Het uiterlijk van feedlezer instellen
Comment[nn]=Set opp utsjånaden til kjeldelesaren
Comment[pa]=ਫੀਡ ਰੀਡਰ ਦਿੱਖ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja wyglądu czytnika kanałów
Comment[pt]=Configurar a Aparência do Leitor de Fontes
Comment[pt_BR]=Configurar a aparência do leitor de fontes de notícias
Comment[ro]=Configurează aspectul cititorului de fluxuri
Comment[ru]=Настройка внешнего вида
Comment[sk]=Nastavenie vzhľadu čítačky kanálov
Comment[sl]=Nastavite videz bralnika virov
Comment[sr]=Подешавање изгледа читача довода
Comment[sr@ijekavian]=Подешавање изгледа читача довода
Comment[sr@ijekavianlatin]=Podešavanje izgleda čitača dovoda
Comment[sr@latin]=Podešavanje izgleda čitača dovoda
Comment[sv]=Anpassa kanalläsarens utseende
Comment[tr]=Haber Okuyucu Görünümünü Yapılandır
Comment[uk]=Налаштування вигляду програми читання подач
Comment[x-test]=xxConfigure the Feed Reader Appearancexx
Comment[zh_CN]=配置信息源阅读器外观
Comment[zh_TW]=設定 Feed 閱讀器外觀
X-KDE-Keywords=akregator, configure, settings, appearance, look, feel
X-KDE-Keywords[de]=Akregator,einstellen,konfigurieren,Konfiguration,Einrichtung,Einstellungen,Erscheinungsbild,Aussehen,Handhabung
X-KDE-Keywords[es]=akregator, configurar, apariencia, aspecto, sensación
X-KDE-Keywords[hu]=akregator, beállítás, beállítások, megjelenés, kinézet
X-KDE-Keywords[ia]=akregator, configura, preferentias, apparentia, aspecto, semblantia 
X-KDE-Keywords[kk]=akregator, configure, settings, appearance, look, feel
X-KDE-Keywords[nl]=akregator, instellen, instellingen, uiterlijk, look, feel
X-KDE-Keywords[pt]=akregator, configurar, configuração, aparência, comportamento
X-KDE-Keywords[pt_BR]=akregator,configurar,configurações,aparência,comportamento
X-KDE-Keywords[sv]=akregator, anpassa, inställningar, utseende, känsla
X-KDE-Keywords[uk]=akregator,configure,settings,налаштувати,налаштування,параметри,вигляд,поведінка
X-KDE-Keywords[x-test]=xxakregator, configure, settings, appearance, look, feelxx
X-KDE-Keywords[zh_TW]=akregator, configure, settings, appearance, look, feel
