[Desktop Entry]
Icon=preferences-other
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=akregator_config_userfeedback
X-KDE-ParentApp=akregator
X-KDE-ParentComponents=akregator,akregator_config_userfeedback
X-KDE-CfgDlgHierarchy=Akregator
X-KDE-Weight=250

Name=User FeedBack
Name[ca]=Comentaris de l'usuari
Name[ca@valencia]=Comentaris de l'usuari
Name[es]=Comentarios del usuario
Name[et]=Kasutaja tagasiside
Name[nl]=Terugkoppeling van gebruiker
Name[pt]=Reacções dos Utilizadores
Name[pt_BR]=Comentários do usuário
Name[sv]=Användaråterkoppling
Name[uk]=Відгуки користувача
Name[x-test]=xxUser FeedBackxx
X-KDE-Keywords=akregator, configure, settings, userfeedback
X-KDE-Keywords[ca]=akregator, configura, arranjament, comentaris de l'usuari
X-KDE-Keywords[ca@valencia]=akregator, configura, arranjament, comentaris de l'usuari
X-KDE-Keywords[es]=akregator, configurar, preferencias, comentarios del usuario
X-KDE-Keywords[et]=akregator, seadistamine, seadistused, kasutaja tagasiside
X-KDE-Keywords[nl]=akregator, configureren, instellingen, terugkoppeling van gebruiker
X-KDE-Keywords[pt]=akregator, configurar, configuração, reacções dos utilizadores
X-KDE-Keywords[pt_BR]=akregator, configurar, configurações, geral, comentários do usuário
X-KDE-Keywords[sv]=akregator, anpassa, inställningar, användaråterkoppling
X-KDE-Keywords[uk]=akregator,акреґатор,налаштувати,параметри,додатки,configure,settings,відгук,користувач
X-KDE-Keywords[x-test]=xxakregatorxx,xx configurexx,xx settingsxx,xx userfeedbackxx
