[Desktop Entry]
Icon=konqueror
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=akregator/preferences.html#general-lookup

X-KDE-Library=akregator_config_browser
X-KDE-ParentApp=akregator
X-KDE-ParentComponents=akregator,kontact_akregatorplugin
X-KDE-CfgDlgHierarchy=Akregator
X-KDE-Weight=400

Name=Browser
Comment=Configure Internal Browser Component
Comment[de]=Einrichtung der internen Browser-Komponente
X-KDE-Keywords=akregator, configure, settings, Browser, Web, Internal
