[Desktop Entry]
Icon=video-display
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=akregator/preferences.html#general-lookup

X-KDE-Library=akregator_config_appearance
X-KDE-ParentApp=akregator
X-KDE-ParentComponents=akregator,kontact_akregator
X-KDE-CfgDlgHierarchy=Akregator

Name=Appearance
Name[de]=Erscheinungsbild
Comment=Configure the Feed Reader Appearance
Comment[de]=Erscheinungsbild des Nachrichtenbetrachters einrichten
X-KDE-Keywords=akregator, configure, settings, appearance, look, feel
