[Desktop Entry]
Icon=konqueror
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=akregator/preferences.html#general-lookup

X-KDE-Library=akregator_config_browser
X-KDE-ParentApp=akregator
X-KDE-ParentComponents=akregator,kontact_akregatorplugin
X-KDE-CfgDlgHierarchy=Akregator
X-KDE-Weight=400

Name=Browser
Name[ca]=Navegador
Name[cs]=Prohlížeč
Name[el]=Περιηγητής
Name[es]=Navegador
Name[et]=Sirvija
Name[fr]=Navigateur
Name[ga]=Brabhsálaí
Name[gl]=Navegador
Name[hu]=Böngésző
Name[it]=Navigatore
Name[ja]=ブラウザ
Name[km]=កម្មវិធី​រុករក
Name[ko]=탐색기
Name[lt]=Naršyklė
Name[lv]=Pārlūks
Name[nb]=Nettleser
Name[nds]=Kieker
Name[nn]=Nettlesar
Name[oc]=Navigador
Name[pa]=ਬਰਾਊਜ਼ਰ
Name[pl]=Przeglądarka
Name[pt]=Navegador
Name[pt_BR]=Navegador
Name[ro]=Navigator
Name[ru]=Просмотр
Name[sl]=Brskalnik
Name[sv]=Webbläsare
Name[th]=เบราเซอร์
Name[tr]=Tarayıcı
Name[uk]=Переглядач
Name[x-test]=xxBrowserxx
Name[zh_CN]=浏览器
Name[zh_TW]=瀏覽器
Comment=Configure Internal Browser Component
Comment[ca]=Configura el component navegador intern
Comment[cs]=Nastavení komponenty interního prohlížeče
Comment[da]=Indstil intern browserkomponent
Comment[de]=Einrichtung der internen Browser-Komponente
Comment[el]=Ρύθμιση εσωτερικού συστατικού περιηγητή
Comment[es]=Configurar el componente navegador interno
Comment[et]=Sisemise sirvimiskomponendi seadistamine
Comment[fr]=Configurer le navigateur web interne
Comment[gl]=Configurar o Componente Navegador Interno
Comment[hu]=A belső böngészőkomponens beállítása
Comment[it]=Configura il componente interno di navigazione internet
Comment[ja]=内部ブラウザコンポーネントの設定
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​សមាសភាគ​កម្មវិធី​រុករក​ខាង​ក្នុង
Comment[ko]=내장 탐색기 구성 요수 설정
Comment[lt]=Konfigūruoti vidinės naršyklės komponentą
Comment[lv]=Konfigurēt iebūvēto pārlūku
Comment[nb]=Sett opp intern nettleserkomponent
Comment[nds]=Intern Kiekerkomponent instellen
Comment[nl]=Interne browsercomponent instellen
Comment[nn]=Set opp intern nettlesarkomponent
Comment[pa]=ਇੰਟਰਵਲ ਬਰਾਊਜ਼ਰ ਭਾਗ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja wewnętrznej przeglądarki
Comment[pt]=Configurar a Componente de Navegação Interna
Comment[pt_BR]=Configurar o componente de navegação interna
Comment[ro]=Configurează componenta internă de navigare
Comment[ru]=Компонент настройки браузера
Comment[sl]=Nastavite vgrajeno komponento za brskanje
Comment[sv]=Anpassa intern webbläsningskomponent
Comment[tr]=İç Tarayıcı Bileşenini Yapılandır
Comment[uk]=Налаштування вбудованого компонента переглядача
Comment[x-test]=xxConfigure Internal Browser Componentxx
Comment[zh_CN]=配置内部浏览器组件
Comment[zh_TW]=設定內部瀏覽器組件
X-KDE-Keywords=akregator, configure, settings, Browser, Web, Internal
