[Desktop Entry]
Icon=akregator
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=akregator_config_webengineurlinterceptor
X-KDE-ParentApp=akregator
X-KDE-ParentComponents=akregator,kontact_akregatorplugin
X-KDE-CfgDlgHierarchy=Akregator
X-KDE-Weight=100

Name=Web Engine Url Interceptor Plugins
Name[ca]=Connectors motor web i interceptor de l'URL
Name[es]=Complementos del motor web para interceptar Url
Name[nl]=Plug-ins voor webengine voor interceptie van URL's
Name[pt]='Plugins' de Intersecção de URL's do Motor Web
Name[sv]=Insticksprogram för webbgränssnittets webbadressinfångning
Name[uk]=Додатки перехоплення адрес вебрушія
Name[x-test]=xxWeb Engine Url Interceptor Pluginsxx
Comment=Configure Web Engine Url Interceptor Plugins
Comment[ca]=Configura els connectors motor web i interceptor de l'URL
Comment[es]=Configurar los complementos del motor web para interceptar Url
Comment[nl]=Plug-ins voor webengine voor interceptie van URL's instellen
Comment[pt]=Configurar os 'Plugins' de Intersecção de URL's do Motor Web
Comment[sv]=Anpassa insticksprogram för webbgränssnittets webbadressinfångning
Comment[uk]=Налаштовування додатків перехоплення адрес вебрушія
Comment[x-test]=xxConfigure Web Engine Url Interceptor Pluginsxx
X-KDE-Keywords=akregator, configure, settings, webEngine, url interceptor
X-KDE-Keywords[ca]=akregator, configura, arranjament, motor web, interceptor de l'url
X-KDE-Keywords[es]=akregator, configurar, preferencias, motor-web, interceptador de url
X-KDE-Keywords[nl]=akregator, instellen, instellingen, webEngine, interceptie van URL's
X-KDE-Keywords[pt]=akregator, configurar, configuração, motor Web, intersecção de URL's
X-KDE-Keywords[sv]=akregator, anpassa, inställningar, webbgränssnitt, webbadressinfångning
X-KDE-Keywords[uk]=akregator,configure,settings,webEngine,url interceptor,налаштувати,налаштування,параметри,вебрушій,перехоплення,перехоплювач,адреса
X-KDE-Keywords[x-test]=xxakregatorxx,xx configurexx,xx settingsxx,xx webEnginexx,xx url interceptorxx
