[Desktop Entry]
Icon=utilities-file-archiver
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=akregator/preferences.html#general-lookup

X-KDE-Library=akregator_config_advanced
X-KDE-ParentApp=akregator
X-KDE-ParentComponents=akregator,kontact_akregator
X-KDE-CfgDlgHierarchy=Akregator

Name=Advanced
Name[ca]=Avançat
Name[el]=Προχωρημένα
Name[ga]=Ardsocruithe
Name[ja]=詳細
Name[km]=កម្រិត​ខ្ពស់
Name[nds]=Verwiedert
Name[pt]=Avançado
Name[pt_BR]=Avançado
Name[tr]=Gelişmiş
Name[x-test]=xxAdvancedxx
Name[zh_TW]=進階
Comment=Advanced Feed Reader Settings
Comment[ca]=Arranjaments avançat del lector de fonts
Comment[el]=Προχωρημένες ρυθμίσεις αναγνώστη ροών ειδήσεων
Comment[ja]=フィードリーダーの詳細設定
Comment[km]=ការ​កំណត់​កម្មវិធី​អាន​មតិព័ត៌មានកម្រិត​ខ្ពស់
Comment[nds]=Verwiedert Stroomkieker-Instellen
Comment[pt]=Configuração Avançada do Leitor de Fontes
Comment[pt_BR]=Configuração Avançada do Leitor de Fontes de Notícias
Comment[tr]=Gelişmiş Haber Okuyucu Ayarları
Comment[x-test]=xxAdvanced Feed Reader Settingsxx
Comment[zh_TW]=進階 Feed 閱讀器設定
X-KDE-Keywords=akregator, configure, settings, advanced
