[Desktop Entry]
Icon=akregator
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=akregator/preferences.html#general-lookup

X-KDE-Library=akregator_config_general
X-KDE-ParentApp=akregator
X-KDE-ParentComponents=akregator,kontact_akregatorplugin
X-KDE-CfgDlgHierarchy=Akregator
X-KDE-Weight=100

Name=General
Name[de]=Allgemein
Comment=Configure Feeds
Comment[de]=Einrichtung der Nachrichtenquellen
X-KDE-Keywords=akregator, configure, settings, General
