[Desktop Entry]
Icon=akregator
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=akregator_config_webengineurlinterceptor
X-KDE-ParentApp=akregator
X-KDE-ParentComponents=akregator,kontact_akregatorplugin
X-KDE-CfgDlgHierarchy=Akregator
X-KDE-Weight=100

Name=Web Engine URL Interceptor Plugins
Name[ca]=Connectors motor web i interceptor de l'URL
Name[ca@valencia]=Connectors motor web i interceptor de l'URL
Name[nl]=Plug-ins voor webengine voor interceptie van URL's
Name[pt]='Plugins' de Intersecção de URL's do Motor Web
Name[sv]=Insticksprogram för webbgränssnittets webbadressinfångning
Name[uk]=Додатки перехоплення адрес вебрушія
Name[x-test]=xxWeb Engine URL Interceptor Pluginsxx
Comment=Configure Web Engine URL Interceptor Plugins
Comment[ca]=Configura els connectors motor web i interceptor de l'URL
Comment[ca@valencia]=Configura els connectors motor web i interceptor de l'URL
Comment[nl]=Plug-ins voor webengine voor interceptie van URL's instellen
Comment[pt]=Configurar os 'Plugins' de Intersecção de URL's do Motor Web
Comment[sv]=Anpassa insticksprogram för webbgränssnittets webbadressinfångning
Comment[uk]=Налаштовування додатків перехоплення адрес вебрушія
Comment[x-test]=xxConfigure Web Engine URL Interceptor Pluginsxx
X-KDE-Keywords=akregator, configure, settings, webEngine, url interceptor
X-KDE-Keywords[ca]=akregator, configura, arranjament, motor web, interceptor de l'url
X-KDE-Keywords[ca@valencia]=akregator, configura, arranjament, motor web, interceptor de l'url
X-KDE-Keywords[de]=Akregator,einstellen,konfigurieren,Konfiguration,Einrichtung,Einstellungen,webEngine,adressen abfangen
X-KDE-Keywords[en_GB]=akregator, configure, settings, webEngine, url interceptor
X-KDE-Keywords[es]=akregator, configurar, preferencias, motor-web, interceptador de url
X-KDE-Keywords[gl]=akregator, configurar, configuración, motor web, interceptor de URL
X-KDE-Keywords[it]=akregator, configurazione, impostazioni, webEngine, cattura di URL
X-KDE-Keywords[nl]=akregator, instellen, instellingen, webEngine, interceptie van URL's
X-KDE-Keywords[pl]=akregator, konfiguruj, ustawienia, webEngine, interceptor url
X-KDE-Keywords[pt]=akregator, configurar, configuração, motor Web, intersecção de URL's
X-KDE-Keywords[pt_BR]=akregator, configurar, configurações, mecanismo Web, interceptação de URLs
X-KDE-Keywords[sk]=akregator, nastaviť, nastavenia, webEngine, url interceptor
X-KDE-Keywords[sl]=akregator, nastavi, nastavitve, spletni pogon, prestrezanje URL, prestrezanje naslovov
X-KDE-Keywords[sr]=akregator,configure,settings,webEngine,url interceptor,Акрегатор,подешавање,поставке,веб мотор,пресретање УРЛ‑ова
X-KDE-Keywords[sr@ijekavian]=akregator,configure,settings,webEngine,url interceptor,Акрегатор,подешавање,поставке,веб мотор,пресретање УРЛ‑ова
X-KDE-Keywords[sr@ijekavianlatin]=akregator,configure,settings,webEngine,url interceptor,Akregator,podešavanje,postavke,veb motor,presretanje URL‑ova
X-KDE-Keywords[sr@latin]=akregator,configure,settings,webEngine,url interceptor,Akregator,podešavanje,postavke,veb motor,presretanje URL‑ova
X-KDE-Keywords[sv]=akregator, anpassa, inställningar, webbgränssnitt, webbadressinfångning
X-KDE-Keywords[uk]=akregator,configure,settings,webEngine,url interceptor,налаштувати,налаштування,параметри,вебрушій,перехоплення,перехоплювач,адреса
X-KDE-Keywords[x-test]=xxakregatorxx,xx configurexx,xx settingsxx,xx webEnginexx,xx url interceptorxx
