[Desktop Entry]
Icon=video-display
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=akregator/preferences.html#general-lookup

X-KDE-Library=akregator_config_appearance
X-KDE-ParentApp=akregator
X-KDE-ParentComponents=akregator,kontact_akregatorplugin
X-KDE-CfgDlgHierarchy=Akregator
X-KDE-Weight=300

Name=Appearance
Name[be]=Вонкавы выгляд
Name[bg]=Външен вид
Name[br]=Neuziadur
Name[ca]=Aparença
Name[cs]=Vzhled
Name[cy]=Golwg
Name[da]=Udseende
Name[de]=Erscheinungsbild
Name[el]=Εμφάνιση
Name[eo]=Prezentado
Name[es]=Apariencia
Name[et]=Välimus
Name[eu]=Itxura
Name[fa]=ظاهر
Name[fi]=Ulkoasu
Name[fr]=Apparence
Name[fy]=Uterlik
Name[ga]=Cuma
Name[gl]=Apariencia
Name[he]=מראה
Name[hr]=Izgled
Name[hu]=Megjelenés
Name[is]=Útlit
Name[it]=Aspetto
Name[ja]=外観
Name[ka]=იერსახე
Name[kk]=Сыртқы көрінісі
Name[km]=រូបរាង
Name[ko]=모양
Name[lt]=Išvaizda
Name[lv]=Izskats
Name[mk]=Изглед
Name[ms]=Rupa
Name[nb]=Utseende
Name[nds]=Utsehn
Name[ne]=देखावट
Name[nl]=Uiterlijk
Name[oc]=Aparéncia
Name[pa]=ਦਿੱਖ
Name[pl]=Wygląd
Name[pt]=Aparência
Name[pt_BR]=Aparência
Name[ru]=Внешний вид
Name[se]=Fárda
Name[sk]=Vzhľad
Name[sl]=Videz
Name[sv]=Utseende
Name[ta]=தோற்றம்
Name[tg]=Намуди зоҳирӣ
Name[th]=รูปลักษณ์
Name[tr]=Görünüm
Name[uk]=Вигляд
Name[uz]=Koʻrinishi
Name[uz@cyrillic]=Кўриниши
Name[x-test]=xxAppearancexx
Name[zh_CN]=外观
Name[zh_TW]=外觀
Comment=Configure the Feed Reader Appearance
Comment[ca]=Configura l'aparença del lector de fonts
Comment[da]=Indstil udseendet af feed-læser
Comment[de]=Erscheinungsbild des Nachrichtenbetrachters einrichten
Comment[el]=Ρύθμιση της εμφάνισης του αναγνώστη ροών ειδήσεων
Comment[et]=Uudistevoogude lugeja välimuse seadistamine
Comment[fr]=Configurer l'apparence du lecteur de flux
Comment[ja]=フィードリーダーの外観設定
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​រូបរាង​របស់​កម្មវិធី​អាន​​មតិព័ត៌មាន
Comment[lv]=Konfigurēt barotņu lasītāja izskatu
Comment[nds]=Dat Utsehn vun den Stroomkieker instellen
Comment[nl]=Het uiterlijk van feedlezer instellen
Comment[pl]=Konfiguracja wyglądu czytnika kanałów
Comment[pt]=Configurar a Aparência do Leitor de Fontes
Comment[pt_BR]=Configurar a Aparência do Leitor de Fontes de Notícias
Comment[sv]=Anpassa kanalläsarens utseende
Comment[tr]=Haber Okuyucu Görünümünü Yapılandır
Comment[uk]=Налаштування вигляду програми читання розсилок
Comment[x-test]=xxConfigure the Feed Reader Appearancexx
Comment[zh_CN]=配置信息源阅读器外观
Comment[zh_TW]=設定 Feed 閱讀器外觀
X-KDE-Keywords=akregator, configure, settings, appearance, look, feel
