[Desktop Entry]
Icon=konqueror
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=akregator/index.html#browser-tab

X-KDE-Library=akregator_config_browser
X-KDE-ParentApp=akregator
X-KDE-ParentComponents=akregator,kontact_akregatorplugin
X-KDE-CfgDlgHierarchy=Akregator
X-KDE-Weight=400

Name=Browser
Name[ar]=المتصفح
Name[bs]=Pregledač
Name[ca]=Navegador
Name[ca@valencia]=Navegador
Name[cs]=Prohlížeč
Name[da]=Browser
Name[de]=Browser
Name[el]=Περιηγητής
Name[en_GB]=Browser
Name[es]=Navegador
Name[et]=Sirvija
Name[fi]=Selain
Name[fr]=Navigateur
Name[ga]=Brabhsálaí
Name[gl]=Navegador
Name[hr]=Preglednik
Name[hu]=Böngésző
Name[ia]=Navigator
Name[it]=Navigatore
Name[ja]=ブラウザ
Name[kk]=Шолғышы
Name[km]=កម្មវិធី​រុករក
Name[ko]=탐색기
Name[lt]=Naršyklė
Name[lv]=Pārlūks
Name[mai]=ब्राउज़र
Name[mr]=ब्राऊजर
Name[nb]=Nettleser
Name[nds]=Kieker
Name[nl]=Browser
Name[nn]=Nettlesar
Name[pa]=ਬਰਾਊਜ਼ਰ
Name[pl]=Przeglądarka
Name[pt]=Navegador
Name[pt_BR]=Navegador
Name[ro]=Navigator
Name[ru]=Просмотр
Name[sk]=Prehliadač
Name[sl]=Brskalnik
Name[sq]=Shfletuesi
Name[sr]=Прегледач
Name[sr@ijekavian]=Прегледач
Name[sr@ijekavianlatin]=Pregledač
Name[sr@latin]=Pregledač
Name[sv]=Webbläsare
Name[th]=เบราเซอร์
Name[tr]=Tarayıcı
Name[ug]=توركۆرگۈ
Name[uk]=Переглядач
Name[wa]=Betchteu
Name[x-test]=xxBrowserxx
Name[zh_CN]=浏览器
Name[zh_TW]=瀏覽器
Comment=Configure Internal Browser Component
Comment[ar]=اضبط عنصر المتصفح الداخلي
Comment[bs]=Podešavanje komponente internog regledača
Comment[ca]=Configura el component del navegador intern
Comment[ca@valencia]=Configura el component del navegador intern
Comment[cs]=Nastavení komponenty interního prohlížeče
Comment[da]=Indstil intern browserkomponent
Comment[de]=Einrichtung der internen Browser-Komponente
Comment[el]=Διαμόρφωση εσωτερικού περιηγητή
Comment[en_GB]=Configure Internal Browser Component
Comment[es]=Configurar el componente navegador interno
Comment[et]=Sisemise sirvimiskomponendi seadistamine
Comment[fi]=Sisäisen selainosan asetukset
Comment[fr]=Configurer le navigateur web interne
Comment[gl]=Configurar o compoñente do navegador interno
Comment[hu]=A belső böngészőkomponens beállítása
Comment[ia]=Configura componente interne de navigator
Comment[it]=Configura il componente interno di navigazione internet
Comment[ja]=内部ブラウザコンポーネントの設定
Comment[kk]=Ішкі шолғыш бөлшегін баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​សមាសភាគ​កម្មវិធី​រុករក​ខាង​ក្នុង
Comment[ko]=내장 탐색기 구성 요수 설정
Comment[lt]=Konfigūruoti vidinės naršyklės komponentą
Comment[lv]=Konfigurēt iebūvēto pārlūku
Comment[mr]=अंतर्गत ब्राऊजर घटक संयोजीत करा
Comment[nb]=Sett opp intern nettleserkomponent
Comment[nds]=Intern Kiekerkomponent instellen
Comment[nl]=Interne browsercomponent instellen
Comment[nn]=Set opp intern nettlesarkomponent
Comment[pa]=ਇੰਟਰਵਲ ਬਰਾਊਜ਼ਰ ਭਾਗ ਸੰਰਚਨਾ
Comment[pl]=Ustawienia wewnętrznej przeglądarki
Comment[pt]=Configurar a Componente de Navegação Interna
Comment[pt_BR]=Configurar o componente de navegação interna
Comment[ro]=Configurează componenta internă de navigare
Comment[ru]=Компонент настройки браузера
Comment[sk]=Nastavenie komponentu interného prehliadača
Comment[sl]=Nastavite vgrajeno komponento za brskanje
Comment[sr]=Подешавање компоненте унутрашњег прегледача
Comment[sr@ijekavian]=Подешавање компоненте унутрашњег прегледача
Comment[sr@ijekavianlatin]=Podešavanje komponente unutrašnjeg pregledača
Comment[sr@latin]=Podešavanje komponente unutrašnjeg pregledača
Comment[sv]=Anpassa intern webbläsningskomponent
Comment[tr]=İç Tarayıcı Bileşenini Yapılandır
Comment[uk]=Налаштування вбудованого компонента переглядача
Comment[wa]=Apontyî l' componint betchteu dvintrin
Comment[x-test]=xxConfigure Internal Browser Componentxx
Comment[zh_CN]=配置内部浏览器组件
Comment[zh_TW]=設定內部瀏覽器組件
X-KDE-Keywords=akregator, configure, settings, Browser, Web, Internal
X-KDE-Keywords[bs]=akregator, konfigurirati, postavke, pretraživač, web, interni
X-KDE-Keywords[ca]=akregator, configura, arranjament, navegador, Web, intern
X-KDE-Keywords[ca@valencia]=akregator, configura, arranjament, navegador, Web, intern
X-KDE-Keywords[da]=akregator, indstil, indstillinger, browser, web, intern
X-KDE-Keywords[de]=Akregator,einstellen,konfigurieren,Konfiguration,Einrichtung,Einstellungen,Browser,Web,intern
X-KDE-Keywords[el]=akregator, διαμόρφωση, ρυθμίσεις, Περιηγητής, Ιστός, Εσωτερικός
X-KDE-Keywords[en_GB]=akregator, configure, settings, Browser, Web, Internal
X-KDE-Keywords[es]=akregator, configurar, preferencias, navegador, web, interno
X-KDE-Keywords[et]=akregator, seadistamine, seadistused, brauser, veeb
X-KDE-Keywords[fi]=akregator, configure, settings, asetukset, Browser, Selain, Web, Internal, Sisäinen
X-KDE-Keywords[fr]=Akregator, configurer, paramétrage, navigateur, web, interne
X-KDE-Keywords[ga]=akregator, cumraigh, socruithe, Brabhsálaí, Gréasán, Inmheánach
X-KDE-Keywords[gl]=akregator, configure, settings, navegador, web
X-KDE-Keywords[hu]=akregator, beállítás, beállítások, Böngésző, Web, Belső
X-KDE-Keywords[ia]=afregator, configura, preferentias, Navigator, Web, Interne
X-KDE-Keywords[it]=akregator, configurazione, impostazioni, Browser, Web, Interno
X-KDE-Keywords[kk]=akregator, configure, settings, Browser, Web, Internal
X-KDE-Keywords[km]=akregator កំណត់​រចនាសម្ព័ន្ធ កំណត់ កម្មវិធី​រុករក បណ្ដាញ ខាងក្នុង
X-KDE-Keywords[ko]=akregator, configure, settings, Browser, Web, Internal, 브라우저, 설정
X-KDE-Keywords[lt]=akregator, konfigūruoti, nustatymai, naršyklė, tinklas, internetas
X-KDE-Keywords[mr]=एक्रीगेटर, संयोजना, संयोजना, ब्राऊजर, वेब, अंतर्गत
X-KDE-Keywords[nb]=akregator, sett opp, innstillinger, Nettleser, Vev, intern
X-KDE-Keywords[nds]=Akregator, fastleggen, Instellen, Nettkieker, Nett, Internet, intern
X-KDE-Keywords[nl]=akregator, instellen, instellingen, browser, web, intern
X-KDE-Keywords[pl]=akregator, konfiguruj, ustawienia, przeglądarka, sieć, wewnętrzna
X-KDE-Keywords[pt]=akregator, configurar, configuração, Navegador, Web, Interno
X-KDE-Keywords[pt_BR]=akregator,configurar,configurações,navegador,Internet,interno
X-KDE-Keywords[ro]=akregator, configurare, setări, navigator, intern, opțiuni
X-KDE-Keywords[ru]=akregator,configure,settings,Browser,Web,Internal,чтение лент новостей,настроить,настройки,браузер,веб,внутренние
X-KDE-Keywords[sk]=akregator, nastaviť, nastavenia, prehliadač, web, interný
X-KDE-Keywords[sl]=korganizer, nastavi, nastavitve, brskalnik, splet, notranje
X-KDE-Keywords[sr]=akregator,configure,settings,Browser,Web,Internal,Акрегатор,подешавање,поставке,прегледач,веб,унутрашњи
X-KDE-Keywords[sr@ijekavian]=akregator,configure,settings,Browser,Web,Internal,Акрегатор,подешавање,поставке,прегледач,веб,унутрашњи
X-KDE-Keywords[sr@ijekavianlatin]=akregator,configure,settings,Browser,Web,Internal,Akregator,podešavanje,postavke,pregledač,veb,unutrašnji
X-KDE-Keywords[sr@latin]=akregator,configure,settings,Browser,Web,Internal,Akregator,podešavanje,postavke,pregledač,veb,unutrašnji
X-KDE-Keywords[sv]=akregator, anpassa, inställningar, Webbläsare, Webb, Intern
X-KDE-Keywords[tr]=akregator, yapılandır, ayarlar, Tarayıcı, Web, Ağ, Dahili
X-KDE-Keywords[uk]=akregator,configure,settings,Browser,Web,Internal,налаштувати,налаштування,параметри,загальне,перегляд,інтернет,вбудований,браузер
X-KDE-Keywords[wa]=akregator, apontyî, tchuzes, apontiaedje, Betchteu, Waibe, divintrin, dvintrin
X-KDE-Keywords[x-test]=xxakregator, configure, settings, Browser, Web, Internalxx
X-KDE-Keywords[zh_CN]=akregator, configure, settings, Browser, Web, Internal, 配置, 设置, 浏览器, 网页, 内部
X-KDE-Keywords[zh_TW]=akregator, configure, settings, Browser, Web, Internal
