[Desktop Entry]
Icon=akregator
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=akregator/preferences.html#general-lookup

X-KDE-Library=akregator_config_general
X-KDE-ParentApp=akregator
X-KDE-ParentComponents=akregator,kontact_akregator
X-KDE-CfgDlgHierarchy=Akregator

Name=General
Comment=Configure Feeds
X-KDE-Keywords=akregator, configure, settings, General
