[Desktop Entry]
Icon=preferences-other
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=akregator_config_userfeedback
X-KDE-ParentApp=akregator
X-KDE-ParentComponents=akregator,akregator_config_userfeedback
X-KDE-CfgDlgHierarchy=Akregator
X-KDE-Weight=250

Name=User Feedback
X-KDE-Keywords=akregator, configure, settings, userfeedback
X-KDE-Keywords[ca]=akregator, configura, arranjament, comentaris de l'usuari
X-KDE-Keywords[ca@valencia]=akregator, configura, arranjament, comentaris de l'usuari
X-KDE-Keywords[es]=akregator, configurar, preferencias, comentarios del usuario
X-KDE-Keywords[et]=akregator, seadistamine, seadistused, kasutaja tagasiside
X-KDE-Keywords[fr]=Akregator, configurer, paramétrage, retour des utilisateurs
X-KDE-Keywords[nl]=akregator, configureren, instellingen, terugkoppeling van gebruiker
X-KDE-Keywords[pt]=akregator, configurar, configuração, reacções dos utilizadores
X-KDE-Keywords[pt_BR]=akregator, configurar, configurações, geral, comentários do usuário
X-KDE-Keywords[sv]=akregator, anpassa, inställningar, användaråterkoppling
X-KDE-Keywords[uk]=akregator,акреґатор,налаштувати,параметри,додатки,configure,settings,відгук,користувач
X-KDE-Keywords[x-test]=xxakregatorxx,xx configurexx,xx settingsxx,xx userfeedbackxx
