[Desktop Entry]
Icon=utilities-file-archiver
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=akregator/preferences.html#general-lookup

X-KDE-Library=akregator_config_archive
X-KDE-ParentApp=akregator
X-KDE-ParentComponents=akregator,kontact_akregatorplugin
X-KDE-CfgDlgHierarchy=Akregator
X-KDE-Weight=200

Name=Archive
Name[ca]=Arxiu
Name[da]=Arkiv
Name[de]=Archiv
Name[el]=Αρχειοθήκη
Name[es]=Archivo
Name[et]=Arhiveerimine
Name[ga]=Cartlann
Name[gl]=Arquivo
Name[is]=Safnskrá
Name[it]=Archivia
Name[ja]=アーカイブ
Name[km]=ប័ណ្ណសារ
Name[lv]=Arhīvs
Name[nb]=Arkiv
Name[nds]=Archiev
Name[nl]=Archief
Name[nn]=Arkiv
Name[pl]=Archiwum
Name[pt]=Arquivo
Name[pt_BR]=Arquivo
Name[ru]=Архив
Name[sv]=Arkiv
Name[tr]=Arşiv
Name[uk]=Архів
Name[x-test]=xxArchivexx
Name[zh_CN]=存档
Name[zh_TW]=歸檔
Comment=Configure Feed Archive
Comment[ca]=Configura l'arxiu de fonts
Comment[da]=Indstil feed-arkiv
Comment[de]=Einrichtung des Nachrichten-Archivs
Comment[el]=Ρύθμιση αρχειοθήκης ροών ειδήσεων
Comment[es]=Configurar el archivo de fuentes
Comment[et]=Uudistevoogude arhiveerimise seadistamine
Comment[fr]=Configurer les archives des flux
Comment[ga]=Cumraigh Cartlann na bhFothaí
Comment[gl]=Configurar o Arquivo de Fontes de Novas
Comment[it]=Configura l'archiviazione delle fonti
Comment[ja]=フィードのアーカイブ設定
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​ប័ណ្ណសារ​មតិព័ត៌មាន
Comment[lv]=Konfigurēt barotņu arhīvu
Comment[nb]=Oppsett for kildearkiv
Comment[nds]=Stroomarchiev instellen
Comment[nl]=Feedarchief instellen
Comment[nn]=Set opp kjeldearkiv
Comment[pl]=Konfiguracja archiwum kanałów
Comment[pt]=Configurar o Arquivo de Fontes
Comment[pt_BR]=Configurar o Arquivo de Fontes de Notícias
Comment[ru]=Настройка архива лент
Comment[sv]=Anpassa kanalarkivet
Comment[tr]=Haber Arşivini Yapılandır
Comment[uk]=Налаштування архіву розсилок
Comment[x-test]=xxConfigure Feed Archivexx
Comment[zh_CN]=配置信息源存档
Comment[zh_TW]=設定 Feed 歸檔
X-KDE-Keywords=akregator, configure, settings, archive
