[Desktop Entry]
Icon=akregator
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=akregator_config_adblock
X-KDE-ParentApp=akregator
X-KDE-ParentComponents=akregator,kontact_akregatorplugin
X-KDE-CfgDlgHierarchy=Akregator
X-KDE-Weight=100

Name=AdBlock
Name[ca]=Bloqueig publicitari
Name[ca@valencia]=Bloqueig publicitari
Name[gl]=AdBlock
Name[nl]=AdBlock
Name[pt]=AdBlock
Name[pt_BR]=AdBlock
Name[sl]=AdBlock
Name[sr]=Адблок
Name[sr@ijekavian]=Адблок
Name[sr@ijekavianlatin]=AdBlock
Name[sr@latin]=AdBlock
Name[uk]=Блокування реклами
Name[x-test]=xxAdBlockxx
Comment=Configure AdBlock
Comment[ca]=Configura el bloqueig publicitari
Comment[ca@valencia]=Configura el bloqueig publicitari
Comment[gl]=Configurar AdBlock
Comment[nl]=AdBlock instellen
Comment[pt]=Configurar o AdBlock
Comment[pt_BR]=Configurar AdBlock
Comment[sl]=Nastavi AdBlock
Comment[sr]=Подешавање Адблока
Comment[sr@ijekavian]=Подешавање Адблока
Comment[sr@ijekavianlatin]=Podešavanje AdBlocka
Comment[sr@latin]=Podešavanje AdBlocka
Comment[uk]=Налаштувати блокування реклами
Comment[x-test]=xxConfigure AdBlockxx
X-KDE-Keywords=akregator, configure, settings, AdBlock
X-KDE-Keywords[ca]=akregator, configura, arranjament, bloqueig publicitari
X-KDE-Keywords[ca@valencia]=akregator, configura, arranjament, bloqueig publicitari
X-KDE-Keywords[gl]=akregator, configurar, configuración, opcións, AdBlock
X-KDE-Keywords[nl]=akregator, instellen, instellingen, AdBlock
X-KDE-Keywords[pt]=akregator, configurar, configuração, AdBlock
X-KDE-Keywords[pt_BR]=akregator, configurar, configurações, AdBlock
X-KDE-Keywords[sl]=akregator, nastavi, nastavitve, AdBlock
X-KDE-Keywords[sr]=akregator,configure,settings,AdBlock,Акрегатор,подешавање,поставке,Адблок
X-KDE-Keywords[sr@ijekavian]=akregator,configure,settings,AdBlock,Акрегатор,подешавање,поставке,Адблок
X-KDE-Keywords[sr@ijekavianlatin]=akregator,configure,settings,AdBlock,Akregator,podešavanje,postavke,AdBlock
X-KDE-Keywords[sr@latin]=akregator,configure,settings,AdBlock,Akregator,podešavanje,postavke,AdBlock
X-KDE-Keywords[uk]=akregator,configure,settings,AdBlock,налаштувати,параметри,блокування,реклама,адблок
X-KDE-Keywords[x-test]=xxakregatorxx,xx configurexx,xx settingsxx,xx AdBlockxx
