[Desktop Entry]
Encoding=UTF-8
Name=aKregator
Exec=akregator %i %m -caption "%c"
Icon=akregator
Type=Application
DocPath=akregator/akregator.html
GenericName=Feed Reader
Comment=A KDE RSS Aggregator
Comment[bg]=Четец на RSS
Comment[da]=En KDE RSS Aggregator
Comment[es]=Un agregador de RSS para KDE
Comment[nl]=Een KDE RSS-aggregator
Comment[pt]=Um Agregador RSS do KDE
Comment[pt_BR]=Um Agregador RSS do KDE
Comment[ru]=Чтение лент RSS
Comment[sv]=En RSS-samlare för KDE
Comment[tr]=Bir KDE RSS Okuyucusu
Comment[uk]=Агрегатор RSS для KDE
Terminal=false
