<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="akregator_part" version="9">
<MenuBar>
  <Menu name="file">
    <Action name="file_open"/>
    <Action name="file_open_recent"/>
    <Separator/>
    <Action name="file_import"/>
  </Menu>
  <Menu name="edit">
    <text>F&amp;eed</text>
    <Action name="feed_add"/>
    <Action name="feed_add_group"/>
    <Action name="feed_modify"/>
    <Action name="feed_remove"/>
    <Separator/>
    <Action name="feed_fetch"/>
    <Action name="feed_fetch_all"/>
    <Separator/>
    <Action name="feed_next_unread"/>
    <Action name="feed_mark_all_as_read"/>
    <Action name="feed_mark_all_feeds_as_read"/>
  </Menu>
  <Menu name="settings">
    <Action name="normal_view"/>
    <Action name="widescreen_view"/>
    <Action name="combined_view"/>
    <Separator/>
  </Menu>
</MenuBar>
<ToolBar name="mainToolBar">
  <Action name="file_open"/>
  <Action name="file_save"/>
  <Action name="file_print"/>
  <Separator/>
  <Action name="feed_fetch"/>
  <Action name="feed_fetch_all"/>
</ToolBar>

<Menu name="feedgroup_popup">
  <Action name="feed_add"/>
  <Action name="feed_add_group"/>
  <Action name="feed_modify"/>
  <Action name="feed_remove"/>
  <Separator/>
  <Action name="feed_fetch"/>
  <Separator/>
  <Action name="feed_mark_all_as_read"/>
</Menu>

<Menu name="feeds_popup">
  <Action name="feed_homepage"/>
  <Separator/>
  <Action name="feed_modify"/>
  <Action name="feed_remove"/>
  <Separator/>
  <Action name="feed_fetch"/>
  <Separator/>
  <Action name="feed_mark_all_as_read"/>
</Menu>
</kpartgui>
