[Desktop Entry]
Name=Akregator
Name[ne]=एक्रिगेटर
Name[x-test]=xxAkregatorxx
Exec=akregator %i -caption "%c"
Icon=akregator
Type=Application
X-DocPath=akregator/index.html
GenericName=Feed Reader
GenericName[ca]=Lector de fonts
GenericName[da]=Feed-læser
GenericName[de]=Nachrichtenbetrachter
GenericName[el]=Αναγνώστης ροών
GenericName[es]=Lector de fuentes
GenericName[et]=Uudistevoogude lugemisvahend
GenericName[fr]=Lecteur de flux
GenericName[ga]=Léitheoir Fothaí
GenericName[it]=Lettore di fonti
GenericName[ja]=フィードリーダー
GenericName[km]=កម្មវិធី​អាន​មតិព័ត៌មាន
GenericName[nds]=Mellenstroom-Kieker
GenericName[nl]=Feedlezer
GenericName[pl]=Czytnik kanałów RSS
GenericName[pt]=Leitor de Fontes
GenericName[pt_BR]=Leitor de Fontes de Notícias RSS
GenericName[sv]=Kanalläsare
GenericName[th]=โปรแกรมอ่านแหล่งป้อน
GenericName[tr]=Haber Kaynağı Okuyucu
GenericName[uk]=Програма для читання розсилок
GenericName[x-test]=xxFeed Readerxx
GenericName[zh_CN]=RSS 种子阅读器
GenericName[zh_TW]=RSS Feed 閱讀器
Comment=A Feed Reader for KDE
Comment[ca]=Un lector de fonts per al KDE
Comment[da]=En feed-læser for KDE
Comment[de]=Ein RSS-Nachrichtensammler für KDE
Comment[el]=Μία εφαρμογή ανάγνωσης ροών για το KDE
Comment[es]=Un lector de fuentes
Comment[et]=KDE uudistevoogude lugemisvahend
Comment[fr]=Un lecteur de flux pour KDE
Comment[ga]=Léitheoir Fothaí KDE
Comment[it]=Un lettore di fonti per KDE
Comment[ja]=KDE のフィードリーダー
Comment[km]=កម្មវិធី​អាន​មតិព័ត៌មាន​របស់ KDE
Comment[lv]=KDE ziņu barotņu lasītājs
Comment[nds]=En Mellenstroom-Kieker för KDE
Comment[nl]=Een feedlezer voor KDE
Comment[pl]=Czytnik kanałów RSS dla KDE
Comment[pt]=Um Leitor de Fontes para o KDE
Comment[pt_BR]=Leitor de Fontes de Notícias RSS do KDE
Comment[sv]=En kanalläsare för KDE
Comment[th]=โปรแกรมอ่านแหล่งป้อนสำหรับ KDE
Comment[tr]=Kde için Bir Haber Kaynağı Okuyucu
Comment[uk]=Програма для читання розсилок для KDE
Comment[x-test]=xxA Feed Reader for KDExx
Comment[zh_CN]=KDE 的RSS 种子阅读器
Comment[zh_TW]=KDE 的 RSS Feed 閱讀器
Terminal=false
Categories=Qt;KDE;Network;
X-DBUS-StartupType=Unique
