[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Akregator/Plugin
Comment=Plugin for Akregator
Comment[bg]=Приставка за Akregator
Comment[cs]=Modul pro Akregator
Comment[de]=Modul für Akregator
Comment[es]=Extensión para Akregator
Comment[et]=Akregatori plugin
Comment[fr]=Module pour Akregator
Comment[ga]=Breiseán Akregator
Comment[he]=תוסף עבור Akregator
Comment[it]=Plugin per Akregator
Comment[lt]=Akregator skirtas priedas
Comment[nb]=Programtillegg for Akregator
Comment[nl]=Plugin voor Akregator
Comment[nn]=Programtillegg til Akregator
Comment[pl]=Wtyczka dla Akregatora
Comment[pt]='Plugin' para o Akregator
Comment[pt_BR]=Plugin para o Akregator
Comment[ru]=Модуль для Akregator
Comment[sr]=Прикључак за Akregator
Comment[sr@Latn]=Прикључак за Akregator
Comment[sv]=Insticksprogram för Akregator
Comment[tr]=Akregator Eklentisi
Comment[uk]=Втулок для Akregator
Comment[uz]=Akregator учун плагин
Comment[xx]=xxPlugin for Akregatorxx
Comment[zh_CN]=Akregator 插件


# Type of plugin, e.g. "storage".
[PropertyDef::X-KDE-akregator-plugintype]
Type=QString

# Internal name for identification, not translated.
[PropertyDef::X-KDE-akregator-name]
Type=QString

# List of authors.
[PropertyDef::X-KDE-akregator-authors]
Type=QStringList

# List of author's email addresses.
[PropertyDef::X-KDE-akregator-email]
Type=QStringList

# Priority of the plugin. When KTrader returns multiple offers, the one with the highest rank is chosen.
# Range: 0 (disabled) - 255 (highest)
[PropertyDef::X-KDE-akregator-rank]
Type=int

# Version of the plugin.
[PropertyDef::X-KDE-akregator-version]
Type=int

# Version of the framework this plugin is compatible with.
# Must be bumped after making incompatible changes.
[PropertyDef::X-KDE-akregator-framework-version]
Type=int
