[Desktop Entry]
Encoding=UTF-8
Name=aKregator
Name[xx]=xxaKregatorxx
Exec=akregator %i %m -caption "%c"
Icon=akregator
Type=Application
DocPath=akregator/akregator.html
GenericName=RSS News Aggregator
Comment=A KDE RSS Aggregator
Comment[da]=En KDE RSS-aggregator
Comment[de]=Ein RSS-Aggregator für KDE
Comment[et]=KDE RSS rakendus
Comment[nl]=een KDE RSS aggregator
Comment[pt]=Um agregador RSS para o KDE
Comment[pt_BR]=Um agregador RSS para o KDE
Comment[sv]=En RSS-samlare för KDE
Comment[xx]=xxA KDE RSS Aggregatorxx
Terminal=0
