[Desktop Entry]
Encoding=UTF-8
Name=aKregatorPart
Name[cs]=Komponenta aKregator
Name[da]=AkregatorPart
Name[de]=aKregator-Komponente
Name[nds]=aKregator-Komponent
Name[pt_BR]=Componente do aKregator
Name[sv]=aKregator-delprogram
Name[ta]=aKregatorபகுதி
ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=libakregatorpart
Type=Service
Icon=akregator
