<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="articleviewer" version="3">
<MenuBar>
<Menu noMerge="1" name="file">
  <Action name="viewer_print"/>
  <Separator/> 
  <Merge/>
</Menu> 
</MenuBar>
<!-- this menu doesn't show up in the app, just groups the actions -->
<Menu name="articleviewer_various">
  <Action name="articleviewer_scroll_up"/>
  <Action name="articleviewer_scroll_down"/>
</Menu>

</kpartgui>
