<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="pageviewer" version="16">
<ToolBar name="mainToolBar">
  <Separator/> 
  <Action name="pageviewer_back"/>
  <Action name="pageviewer_forward"/>
  <Action name="pageviewer_reload"/>
  <Action name="pageviewer_stop"/>
  <Action name="pageviewer_print"/>
</ToolBar>
<MenuBar>
<Menu name="file">
  <Action name="viewer_print"/>
  <Separator/> 
</Menu>
<Menu noMerge="1" name="edit">
  <Action name="viewer_copy"/>
  <Action name="selectAll"/>
  <Separator/>
  <Action name="find"/>
  <Action name="findNext"/>
  <Merge/>
</Menu>
<Menu noMerge="1" name="view">
  <Separator/>
  <Action name="incFontSizes"/>
  <Action name="decFontSizes"/>
  <Action name="setEncoding"/>
  <Merge/>
</Menu>
<Menu name="go">
  <text>&amp;Go</text>
  <Separator/>
  <Action name="pageviewer_back"/>
  <Action name="pageviewer_forward"/>
  <Action name="pageviewer_reload"/>
  <Action name="pageviewer_stop"/>
</Menu>
</MenuBar>

</kpartgui>
