[Desktop Entry]
Name=aKregatorPart
Name[af]=aKregatorPart
Name[ar]=جزء أكريغاتور
Name[be]=аKregatorPart
Name[bg]=aKregatorPart
Name[br]=aKregatorPart
Name[bs]=aKregatorPart
Name[ca]=aKregatorPart
Name[ca@valencia]=aKregatorPart
Name[da]=AkregatorPart
Name[de]=aKregator-Komponente
Name[el]=aKregatorPart
Name[en_GB]=aKregatorPart
Name[eo]=aKregatorPart
Name[es]=aKregatorPart
Name[et]=aKregatorPart
Name[eu]=aKregatorPart
Name[fi]=aKregatorPart
Name[fr]=aKregatorPart
Name[fy]=aKregatorPart
Name[ga]=aKregatorPart
Name[gl]=aKregatorPart
Name[he]=aKregatorPart
Name[hu]=aKregatorPart
Name[ia]=aKregatorPart
Name[is]=aKregatorPart
Name[it]=aKregatorPart
Name[ka]=aKregatorPart
Name[kk]=aKregatorPart
Name[km]=aKregatorPart
Name[ko]=aKregatorPart
Name[lt]=aKregatorPart
Name[lv]=aKregatorPart
Name[mr]=एक्रीगेटर-पार्ट
Name[ms]=aKregatorPart
Name[nds]=aKregator-Komponent
Name[ne]=aKregatorPart
Name[nl]=aKregatorPart
Name[pa]=aKregatorPart
Name[pl]=Moduł aKregator
Name[pt]=aKregatorPart
Name[pt_BR]=Componente do aKregator
Name[ro]=aKregatorPart
Name[ru]=aKregatorPart
Name[sk]=aKregatorPart
Name[sl]=aKregatorPart
Name[sv]=aKregator-delprogram
Name[ta]=aKregatorபகுதி
Name[tr]=aKregatorPart
Name[uz]=aKregatorPart
Name[uz@cyrillic]=aKregatorPart
Name[wa]=aKregatorPårt
Name[zh_TW]=aKregatorPart
X-KDE-ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=akregatorpart
Type=Service
Icon=akregator
MimeType=application/atom+xml;application/rss+xml;application/rdf+xml;
